<section>
  <div class="row paragraph">
    <h3>Introduction</h3>
    <p>
      Deafness has always been a problem for the world. The main way to address the deaf problem is hearing AIDS (first class) and electronic cochlear (second class). Because hearing AIDS still use the hearing of the deaf, they only apply to the mildly deaf. Electronic cochlear implants can be used for deaf people, but there are still many problems, not only expensive but also complex surgery. In addition, because the cochlear implant is still dependent on the auditory nerve, it is not for every deaf person. Sign language and lip-reading are still the mainstream of the deaf-mute education. Skin-hearing is a kind of new concept, that is, by using sound current signal to stimulate the skin to achieve the effect of hearing, skin-hearing completely out of the auditory system of the human body the original process, creating a third class hearing tool called skin-hearing apparatus.
    </p>
    <p>
      The idea of the sound of the skin is taught by professor <span class="tool" data-toggle="tooltip" data-placement="top" title="Graduated from the mathematics department of northwest university, bachelor of science ">Li Jianwen</span> of shaanxi university of science and technology , he skin-hearing technology research team led by skin-hearing theory and technology for the long-term and in-depth research, and the two generations of skin-hearing, make deaf hearing problems appeared a bright prospect. Skin-hearing biggest advantage is to solve the problem of listening to the sound of the deaf not through any surgical procedure, and high resolution, the price is low, so easy to promote, and with the use of hearing AIDS and electronic cochlea don't conflict.
    </p>
    <p>The research on the sound of the skin began in December 1994 and was funded by the shaanxi provincial education department special fund in 2005 ;</p>
    <p>In 2006, the project "the further study of the sound of the sound of electrical conversion of the skin" was funded by the national natural science foundation.number:60672001</p>
    <p>The issue of the project in February 2010 proved that multi-channel skin listening devices have great practical value for solving the problem of listening to deaf people.</p>
    <p>In October 2006, the "transformer skin listening device" was awarded the national invention patent, patent number:ZL200410026265.5</p>
    <p>In September 2007, the first generation of skin listening devices was developed.</p>
    <p>In August 2011, the multi-channel array skin listening device was patented by the state. patent number:ZL200910219078.1。</p>
    <p>In December 2013, the second generation of successful skin listening devices, called high-performance skin listening devices, was developed. Features: the arm type, 12 channel filtering, array electrode, automatic volume adjustment, fitting sensation curve. The high-performance skin listening device enables deaf people to recognize speech. </p>


    <p>The study concludes:</p>
    <ul>
      <li>The first generation of skin-listening devices allows anyone to get a sound signal from the skin, which means "listen" to the sound, making the cochlear implant no longer the only option for the deaf. </li>
      <li>Through meticulous research for skin-hearing phenomena we found that human skin for voice and infrasound signal response range including at least 0.1 Hz ~ 30 KHZ, shows that human skin hearing range is wider than the ear; </li>
      <li>Through the study of human anatomy, the important factor that affects the sound of the skin is the cuticle of the skin, which is the main cause of the resistance. </li>
      <li>Bandpass filter for electronics technology are studied, found the multichannel array type skin skin-hearing technology for voice frequency resolution into skin feeling to different location cues, get in the position of the human body through the skin to the discrimination ability of the sound frequency, can significantly enhance the resolution of the skin for voice signal; </li>
      <li>Multi-channel skin-hearing needs further development and skin-hearing technology involving acoustics, mathematics, physiology, electronics and electromagnetism belongs to typical interdisciplinary frontier research, skin-hearing technology also reveals the relationship between the many disciplines, so scientific research need multi-channel skin-hearing experiment environment. The 12-channel skin listening experiment environment is the ideal experimental model, and now the successful high-performance skin listening device belongs to the second generation of skin listening devices. </li>
    </ul>
  </div>

</section>
