<section>

  <div class="paragraph">
    <h3>Reference</h3>
    <p>[1] Zhang Chaoyou Ed.Human anatomy(Second)[M],BeiJing:People's Medical Publishing House,2009.3:1136-1146, 1115-1116, 1498-1498.</p>
    <p>[2] Li Zhenping,Liu Shuwei Ed.Clinical central neuroanatomy(second),BeiJing:Science press,2009.3:168-181.</p>
    <p>[3] Chen Xiaoping Ed.Sound and hearing [M],China pavilion broadcasting TV press,2006.9:26,127-129.</p>
    <p>[4] Zeng Xiaojun.Multichannel electronic cochlear system study and its receiving stimulator implementation [D],ShangHai:Fudan university, 2000.4.</p>
    <p>[5] Guo Menghe,Qian Yuhong,Liyonghe,etc. There were 43 cases of cochlear implant and hearing language rehabilitation [J],Chinese clinical rehabilitation ,2002,6(19):2856-2857.</p>
    <p>[6] Lu Xiaoyue.The study of the effectiveness of auditory oral training in the hearing of cochlear implant [J],Chinese rehabilitation theory and practice ,2003,9(5):269-271.</p>
    <p>[7] Zou Jiayu,Hou Wensheng,Zheng Xiaolin,etc.Based on DSP, the cochlear speech encoding and wireless transmission [J].Microcomputer information ,2009,25 (1-2):  6-8.</p>
    <p>[8] Xiong Guanxia,Chen Xihui,Liumin,etc.The analysis of the effects of hearing speech after hearing language was analyzed [J],Guangdong medical ,2003,24(3):228-230.</p>
    <p>[9] Li Jianwen.Transformer skin listening device [P]. China: ZL200410026265, 2006.10.25.</p>
    <p>[10]Li Jianwen.Multi-channel array skin listening device [P]. China: ZL200910219078,  2011.8.10.</p>
    <p>[11]Li Jianwen.A preliminary study of the transformer skin listening device [J].Journal of shaanxi university of science and technology , 2004,22(6):66~69.</p>
    <p>[12]Li Jianwen, Tangtian.Embedded in the skin listening device [J],Microelectronics and computers , 2009,26(5):239-241.</p>
    <p>[13]Li Jianwen,Liuwei,Han Xuejun.The skin responds to sound signals [J],Acoustic technology ,2006,25(3):253-257.</p>
    <p>[14] LI Jian-wen,Yu Xiao-ming,Cao Li-jia. Response of skin to audible signal and skin-hearing aid[J], Journal Clinical Rehabilitive Tissue Engineering Reseach,2008,12(13):2579-2582.</p>
    <p>[15]Li Jianwen,Furong,Based on the DSP skin listening device study [J],Computer engineering and design ,2010,31(17):3750-3753.</p>
    <p> [16] Jianwen Li, Ziyu Li, Xuezong Ma. Reception of infrasound and audio current in derma nerves[J], Neural Regeneration Research,2010,5(18):1413-1417. SCI:673EG.</p>
    <p>[17] Zhang Runnning,Huang Ruiyu,Li Jianwen, Lijia. A review of the clinical research on acoustic technology of electroacoustic conversion [J],Chinese clinical meta-journal ,2010.12,38:4-6.</p>
    <p>[18] Li Jianwen,Zhao Xiaoyu. Intelligent mode skin listening device based on Morse principle [J],Microelectronics and computers ,2011,28(1):134-137.</p>
    <p>[19] Li Jianwen,Furong.Multichannel skin listening devices based on DSP [J],Computer engineering, 01,2011.</p>
    <p>[20] Li Jianwen,Bailu.The digital and de-nosing research of the skin sound organ[J],Computer measurement and control,03 2011.</p>
    <p>[21] Li Jianwen,WangBiao,Wang Zhongfei. Based on time-frequency distribution, the skin listens to the sound organ simple speech analysis research [J],Computer measurement and control,2011, 19(1):127-130.</p>
  </div>


</section>

