<section>
  <div class="paragraph">
    <h3>The first generation of skin-listening devices was born</h3>
    <p>The first generation of skin listening devices is based on the invention of the patented "transformer skin listening device". The hearing effects of the first generation of skin listening devices can be summarized as follows </p>
    <ul>
      <li>1.Almost all sounds are very sensitive, such as voice, door, phone, walking, cough and ambient sound;</li>
      <li>2.After training, deaf people can tell a few simple sounds;</li>
      <li>3.Ability to distinguish between voice, door and walk;</li>
      <li>4.For the beat of music, there is a distinct sense of perception and analysis, which may be the most primitive sound effect.</li>
    </ul>
    <p>The first generation of skin sound organ is constructed and principle :</p>
    <ul>
      <li>1.The microphone converts an external sound signal to a current pulse signal ; </li>
      <li>2.Audio amplification amplifies the audio signal ; </li>
      <li>3.The audio booster overcomes the resistance of the human skin, providing high-voltage communication signals for the drive plane electrode ; </li>
      <li>4.The battery supplies the audio amplifier ;</li>
      <li>5.The flat electrode is used to stimulate the skin and pass the pulse current through the skin to the brain, as shown in figure 1.</li>
    </ul>
  </div>
  <div class="row">
    <img src="" alt="">
  </div>
  <div class="row paragraph">
    <p>In figure 1, you can see that the speaker is not used in the skin listening device, so there is no relationship to the original auditory system in the process. In fact, the first generation of skin listening devices was a modified version of a common hearing aid that changed the hearing aid's headphones into a booster, the pacifier. The disadvantage is that the ability to distinguish speech is extremely limited, but can be used as an acoustic experimental device. </p>
    <p class="title">The skin responds to sound signals </p>
    <p>The response of the skin to the sound current signal is the basic problem of acoustic electrical conversion. In order to further explore the basic theory of skin-hearing technology, we use the digital signal generator direct drive plane electrode, again for the skin to accept the point of the frequency of the oscillating current signal and voltage, a experiment is carried out for the first time reveals the human skin for pulse current signal response frequency range including at least 0.1 Hz ~ 30 KHZ, as shown in table 1 .</p>
    <p class="title">1-1 The skin responds to the physiological curves of sound signals </p>
  </div>
  <div class="paragraph">
    <table border="1" >
      <thead>
      <tr>
        <td></td>
        <td colspan="3.5">被测量者1，男，49岁</td>
        <td colspan="3.5">被测量者2，男，36岁</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="2">信号频率(Hz)</td>
        <td colspan="2">第一次测量</td>
        <td colspan="2">第二次测量</td>
        <td>第一次测量</td>
        <td>第二次测量</td>
      </tr>
      <tr>
        <td>信号源幅值</td>
        <td>实际电压</td>
        <td>信号源幅值</td>
        <td>实际电压</td>
        <td>信号源幅值</td>
        <td>信号源幅值</td>
      </tr>
      <tr>
        <td>0.156</td>
        <td>2.40</td>
        <td>无法测量</td>
        <td>2.20</td>
        <td>无法测量</td>
        <td>4.5</td>
        <td>4.2</td>
      </tr>
      <tr>
        <td>0.313</td>
        <td>2.30</td>
        <td>无法测量</td>
        <td>2.10</td>
        <td>无法测量</td>
        <td>3.9</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>0.625</td>
        <td>2.30</td>
        <td>无法测量</td>
        <td>2.10</td>
        <td>无法测量</td>
        <td>4.1</td>
        <td>4.0</td>
      </tr>
      <tr>
        <td>1.250</td>
        <td>2.70</td>
        <td>无法测量</td>
        <td>2.70</td>
        <td>无法测量</td>
        <td>4.0</td>
        <td>3.9</td>
      </tr>
      <tr>
        <td>2.500</td>
        <td>2.70</td>
        <td>1.942</td>
        <td>2.67</td>
        <td>1.942</td>
        <td>4.5</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>5.000</td>
        <td>1.98</td>
        <td>1.428</td>
        <td>1.75</td>
        <td>1.270</td>
        <td>2.8</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>10.00</td>
        <td>1.56</td>
        <td>1.149</td>
        <td>1.37</td>
        <td>0.991</td>
        <td>2.4</td>
        <td>2.6</td>
      </tr>
      <tr>
        <td>20.00</td>
        <td>1.65</td>
        <td>1.188</td>
        <td>1.68</td>
        <td>1.229</td>
        <td>2.7</td>
        <td>2.9</td>
      </tr>
      <tr>
        <td>40.00</td>
        <td>1.76</td>
        <td>1.267</td>
        <td>1.82</td>
        <td>1.308</td>
        <td>3.2</td>
        <td>2.8</td>
      </tr>
      <tr>
        <td>80.00</td>
        <td>1.77</td>
        <td>1.267</td>
        <td>1.88</td>
        <td>1.347</td>
        <td>3.5</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>160</td>
        <td>1.83</td>
        <td>1.307</td>
        <td>1.97</td>
        <td>1.426</td>
        <td>3.55</td>
        <td>2.9</td>
      </tr>
      <tr>
        <td>320</td>
        <td>1.94</td>
        <td>1.386</td>
        <td>1.99</td>
        <td>1.426</td>
        <td>3.73</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>320</td>
        <td>1.94</td>
        <td>1.386</td>
        <td>1.99</td>
        <td>1.426</td>
        <td>3.73</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>640</td>
        <td>2.33</td>
        <td>1.662</td>
        <td>2.36</td>
        <td>1.702</td>
        <td>4.2</td>
        <td>3.3</td>
      </tr>
      <tr>
        <td>1280</td>
        <td>2.74</td>
        <td>1.975</td>
        <td>2.77</td>
        <td>1.975</td>
        <td>4.9</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>2560</td>
        <td>3.31</td>
        <td>2.367</td>
        <td>3.31</td>
        <td>2.367</td>
        <td>5.7</td>
        <td>4.5</td>
      </tr>
      <tr>
        <td>5120</td>
        <td>4.26</td>
        <td>3.030</td>
        <td>4.16</td>
        <td>2.949</td>
        <td>6.4</td>
        <td>5.5</td>
      </tr>
      <tr>
        <td>10240</td>
        <td>5.62</td>
        <td>3.995</td>
        <td>5.22</td>
        <td>3.678</td>
        <td>7.3</td>
        <td>6.7</td>
      </tr>
      <tr>
        <td>20480</td>
        <td>8.12</td>
        <td>5.699</td>
        <td>7.64</td>
        <td>5.349</td>
        <td>8.8</td>
        <td>8.3</td>
      </tr>
      <tr>
        <td>28693</td>
        <td>9.81</td>
        <td>6.820</td>
        <td>9.80</td>
        <td>6.810</td>
        <td>10.0</td>
        <td>9.9</td>
      </tr>
      <tr>
        <td>40960</td>
        <td>无感觉</td>
        <td></td>
        <td>无感觉</td>
        <td></td>
        <td>10.0</td>
        <td>无感觉</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="paragraph">
    <p>The frequency range of the sound is 20Hz ~ 20KHz, and the frequency range is approximately 20Hz. In table 1, we can see that the human body skin can feel all the audio signal, not only can feel the infrasound signal range is very wide, including at least 20 Hz ~ 0.1 Hz, 10 Hz is near the critical voltage value of the lowest frequency point. It also received the following experiment: </p>
    <ul>
      <li>1.Each measure at the beginning of the skin without any feeling, at this moment if use relatively strong low frequency signal (1 hz) after the impact, can quickly activate skin feeling ability; </li>
      <li>2.The longer the voltage threshold, the lower the voltage threshold;</li>
      <li>3.If the electrodes attached to the skin are pressed to achieve lower critical voltage values, such as 1V near 10Hz;</li>
      <li>4.For a signal below 1Hz, each signal's oscillating skin feels twice, voltage rise and voltage drop each time. Every time you feel a voltage increase or a decrease in voltage a feeling of skin being pressed. </li>
      <li>5.The resistances of the skin are not certain, normally about 400 K? The longer the amount of resistance, the smaller the resistance, and the resistance becomes 80K after 1 hour;</li>
      <li>6.The sensitivity of human skin to audio and subaudio signals varies from location to location; </li>
    </ul>
    <p>In the previous experiment, we could see that the human skin's response to an impulse current was at least 0.1 Hz ~ 30kHz. The threshold of the voltage that gives the skin a sensation is approximately 1 ~ 6V, and the general signal voltage should exceed 2 ~ 12V to ensure the feeling of the skin. But it's hard to generate such a high voltage for a typical portable electronic device. </p>
    <p>The skin's nerve is at least 0.1 hz-30khz, but the body's hearing range is only 20hz-20khz. Where does this loss occur? This also raises new questions for physiology. </p>
    <p>This experiment fully demonstrates that human skin can not only receive all sound signals, but also receive a wide range of secondary acoustic signals. At this point, it is possible for the skin to hear more than the ear. </p>
  </div>

</section>
