<section>
  <div class="paragraph">
    <h3>High-performance skin listening device </h3>
    <p>The second generation of skin listening devices mainly USES multichannel bandpass filter and array electrode technology. This technique involves content includes: determine the voice frequency range, design and production of band-pass filter circuit, and determine the channel number, determine the center frequency of each channel, making electrode array, arrangement and production is determined, connected to the microphone and microphone amplifier circuit, multi-channel power amplification circuit, multi-channel step-up transformer, design and production of high efficiency and small volume of the step-up transformer. The experiment can be achieved through a wire connection. Figure 1 - a is the schematic of the second generation of skin listening. </p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/第二代皮肤听声器原理图.JPG" alt="第二代皮肤听声器原理图" class="img-responsive col-sm-offset-3">
  </div>
  <div class="paragraph">
    <p>On November 20, 2009, he applied for the invention patent "multi-channel array skin listening device", which was authorized on August 10, 2011. Patent no. : ZL200910219078.1. For a patent for invention "multi-channel array type skin-hearing" as the foundation of technology, successfully developed in October 2013 (second generation) high-performance skin-hearing (arm, 12 channel filter, array electrode, automatic volume control, feeling fitting curve). </p>
    <p>The invention patent certificate is shown in the following picture :</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/专利证书.jpg" alt="专利证书" class="img-responsive col-sm-offset-2">
  </div>
  <div class="paragraph">
    <p>High-performance skin-hearing collected human anatomy, acoustics, mathematics, electronics and other cutting-edge science and technology, make full use of the sensory nerves of human skin original resources, on the human arm skin opens up new auditory channel, and the use of hearing AIDS, electronic cochlea with traditional don't conflict, no side effects, and high resolution, sound effects and very similar to the human ear hearing effect, should be hearing as a deaf preferred tools. </p>
    <p>The product style is shown below:</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/高性能皮肤听声器4件套.jpg" alt="高性能皮肤听声器4件套" class="img-responsive col-sm-offset-3">
  </div>
</section>

