<footer>
  <div class="wrapimg">
    <img src="../assets/img/schoollogo.png">
  </div>

  <h4>陕西科技大学皮肤听声研究所</h4>

  <section>
    <div class="wrapmap">
      <img src="../assets/img/皮肤听声研究所-百度截图.JPG" alt="">
    </div>
    <div class="wrapdetail">
      <div>
        <i class="glyphicon glyphicon-map-marker"></i>
        <span>陕西省西安市未央区大学园区</span>
      </div>
      <div>
        <i class="glyphicon glyphicon-phone-alt"></i>
        <span>029-86168971</span>
      </div>
      <div>
        <i class="glyphicon glyphicon-phone"></i>
        <span>13720771300</span>
      </div>
      <div>
        <i class="glyphicon glyphicon-envelope"></i>
        <span>71469223@qq.com</span>
      </div>
    </div>
    <div class="wraperweima">
      <img src="../assets/img/IMG_9695.png" alt="" />
      <img src="../assets/img/IMG_9696.png" alt="" />
    </div>
  </section>


  <article>
    <a href="#">联系我们</a>
    <a href="#">在线咨询</a>
    <a href="#">访客留言</a>
    <a href="#">校友录</a>
    <a href="#">友情链接</a>
    <a href="#">校长信箱</a>
    <a href="#">校园论坛</a>
    <p>陕ICP备07015002号   陕西科技大学皮肤听声研究所</p>
  </article>

</footer>
