<section>
  <div class="row paragraph">
    <h3>皮肤构造与皮肤听声的关系</h3>
    <p>我们还查阅了大量的生理学文献，对于声电转换皮肤听声的生理机理进行了探讨。事实上，皮肤听声的理论可以通过人体皮肤解剖学获得比较完整的解释。</p>
    <p>人体皮肤可分为表皮、真皮和皮下组织三部分。其中表皮（epidermis）的厚度约0.1mm（与具体的位置、年龄、性别有关），包括角质层、颗粒层、棘层、基底层，角质层含水量少，电阻较大（约为500K），对低电压电流有一定的阻抗能力，事实上皮肤各处的电阻还可以由万用表直接测得。真皮（dermis）的厚度1~3mm左右，真皮又可分为乳头层和网状层，乳头层与表皮呈犬牙交错样连接，内部含有丰富的毛细血管和毛淋巴管，还有游离神经末梢和囊状神经小体，内部含有丰富的血管、淋巴管、神经和肌肉。皮下组织（subcutaneous tissue）也含有血管、淋巴管、神经等。皮肤中有感觉神经和运动神经，通过它们与中枢神经系统联系，可产生各种感觉，支配肌活动及完成各种神经反射。皮肤的神经支配呈节段性，但相邻节段间有部分重叠。皮肤中的神经纤维分布在真皮和皮下组织中。人类对皮肤的认识还很不全面，有许多理论需要依靠实践的推动。皮肤听声现象就是首先在实践中发现的，对于它的不断完善的解释就是人体生理学理论的完善过程。</p>
    <p>皮肤对于电流信号的感觉能力可以解释为：人体皮肤真皮层内分布有丰富的神经末梢，这些神经末梢本来就可以接收各种刺激信号，同时也能将各种感觉信号以电流的方式传到大脑皮层的。经过我们的进一步实验发现，人体的面颊、手指头、前臂等处的皮肤都具备听声的能力。</p>
    <p>通过皮肤听声也能解释生物进化理论：最初的简单动物没有听觉能力，以后由于逃避捕猎者的需要进化出了最初的听声器官-单通道皮肤听声。以后又由于较高级动物捕猎、逃避捕猎以及求偶过程的需求使得动物对于声音特征能够进行更为详细的分析和判断，慢慢地演化出了多通道听声-耳朵听声。不同的动物，由于耳朵的构造不同，对于声音频率的分辨范围也不同。人耳对于声音频率的接收范围大约为20~20kHz，但分辨能力会因人而异，有些人对于声音频率分辨能力差，唱歌不好听，被称为五音不全。</p>
    <p class="title">
      耳蜗与大脑皮层的解剖学关系
    </p>
    <p> 多通道阵列式皮肤听声器与人耳听觉的原理基本一样。人耳对于声音频率的分辨能力产生于耳蜗，耳蜗就是高效率的多通道带通滤波器。人体耳蜗构造非常复杂，限于篇幅，这里不详细讨论人耳的构造。虽然人耳非常复杂，但除了通向大脑皮层的听觉神经，其它功能都可以由电子技术完成，如声电转换、音频放大、带通滤波等。那末，除了听神经外还有其它通向大脑皮层的通道吗？答案是肯定的，这种通道不但有，而且非常丰富，它就是遍布于我们身体的皮肤感觉神经。如图14所示，感觉中枢负责处理由皮肤感觉神经送来的各种信号，它的面积远远大于听觉中枢的面积。由这里也可以看到，关于皮肤感觉资源的利用有着十分广阔的应用前景。</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/人体听觉系统示意图.png" alt="人体听觉系统示意图" class="img-responsive">
    <img src="../assets/img/about/大脑皮层功能分布.png" alt="大脑皮层功能分布图" class="img-responsive">
  </div>
  <div class="row paragraph">
    <p>我们所研究的多通道阵列式皮肤听声技术就是将人体某些确定位置的皮肤感觉神经用作耳蜗的基底膜（耳蜗解剖名词），也就是利用人体皮肤识别如图8所示的“频率-能量-时域”图。事实证明，通过训练人体大脑皮层的各个分区的功能是可以互相转换的，如聋哑人熟练的手语、盲人用手识别盲文等。</p>
  </div>

</section>
