<section>
  <div class="row paragraph">
    <h3>皮肤听声简介</h3>
    <p>
      聋人听声问题一直是世界性的难题。目前解决聋人问题的主要方法是助听器（第一类）和电子耳蜗（第二类）。由于助听器仍然要利用聋人的残余听力，所以仅仅适用于轻度聋人。电子耳蜗可用于全聋人，但仍存在很多问题，不仅价格很昂贵还需要复杂的外科手术。另外，由于电子耳蜗仍然要依赖听觉神经，所以不是每个聋人都适用。手语、读唇法仍然是聋哑教育的主流。皮肤听声是一种新的概念，就是利用声音电流信号刺激皮肤达到听声的效果，皮肤听声过程完全脱离人体原有的听觉系统，由此产生了第三类助听工具称为皮肤听声器。
    </p>
    <p>
      皮肤听声的概念由陕西科技大学<span class="tool" data-toggle="tooltip" data-placement="top" title="毕业于西北大学数学系，理学学士">李建文</span>教授提出，他所带领的皮肤听声技术研究小组对皮肤听声的理论和技术进行了长期和深入的研究，并产生了两代皮肤听声器，使聋人听声问题出现了光明的前景。皮肤听声的最大优势就是解决聋人听声问题不通过任何外科手术，而且分辨率高、价格低廉，所以容易推广，而且与助听器和电子耳蜗的使用都不冲突。
    </p>
    <p>关于皮肤听声的研究开始于1994年12月，2005年获得陕西省教育厅专项基金资助;</p>
    <p>2006年课题“声-电转换皮肤听声的进一步研究”又获得国家自然科学基金面上项目资助，编号：60672001。</p>
    <p>2010年2月该项目结题，证明了多通道皮肤听声器对于解决全聋人的听声问题具有巨大的实用价值；</p>
    <p>2006年10月“变压式皮肤听声器”获国家发明专利，专利号：ZL200410026265.5。</p>
    <p>2007年9月研制成功第一代皮肤听声器，特点单通道；</p>
    <p>2011年8月“多通道阵列式皮肤听声器” 获国家发明专利，专利号：ZL200910219078.1。</p>
    <p>2013年12月研制成功第二代皮肤听声器，称为高性能皮肤听声器。特点：扎臂式、12通道滤波，阵列电极、自动音量调节、拟合感觉曲线。高性能皮肤听声器能使聋人分辨语音。</p>


    <p>研究的结论是：</p>
    <ul>
      <li>第一代皮肤听声器能使任何人通过皮肤获得声音信号，即“听”到声音，使得电子耳蜗不再是全聋人的唯一选择；</li>
      <li>通过对于皮肤听声现象的细致研究我们发现，人体皮肤对于声音和次声信号的响应范围至少包括0.1Hz~30kHz，说明人体皮肤的听声范围比耳朵更宽；</li>
      <li>通过人体解剖学的研究发现了影响皮肤听声的重要因素是皮肤角质层，角质层是产生电阻的主要原因；</li>
      <li>对于电子学带通滤波技术进行了研究，发现多通道阵列式皮肤听声技术将皮肤对于声音频率的分辨转化为皮肤对不同位置刺激信号的感觉，使人体通过皮肤位置获得对于声音频率的辨别能力，可以明显的增强皮肤对于语音信号的分辨能力；</li>
      <li>多通道皮肤听声器需要进一步发展，皮肤听声技术涉及声学、数学、生理学、电子学和电磁学属于典型的跨学科前沿性研究，皮肤听声技术还揭示了很多学科之间的关系，所以科学研究需要多通道皮肤听声实验环境。12通道皮肤听声实验环境是比较理想的实验模型，现在研制成功的高性能皮肤听声器属于第二代皮肤听声器。</li>
    </ul>
  </div>

</section>
