<section>

  <div class="paragraph">
    <h3>参考文献</h3>
    <p>[1] 张朝佑主编.人体解剖学（第3版）[M]，北京：人民卫生出版社，2009.3:1136-1146, 1115-1116, 1498-1498.</p>
    <p>[2] 李振平，刘树伟主编. 临床中枢神经解剖学（第2版），北京：科学出版社,2009.3:168-181.</p>
    <p>[3] 陈小平编著.声音与人耳听觉[M]，中国馆播电视出版社，2006.9:26,127-129.</p>
    <p>[4] 增晓军.多道电子耳蜗系统研究及其接收刺激器实现[D],上海：复旦大学， 2000.4.</p>
    <p>[5] 郭梦和,钱雨红,李永贺,等. 多导人工耳蜗植入术及听觉语言康复效果分析43例[J], 中国临床康复,2002,6(19):2856-2857.</p>
    <p>[6] 卢晓月.人工耳蜗植入术后听觉口语训练法效果研究[J], 中国康复理论与实践,2003,9(5):269-271.</p>
    <p>[7] 邹嘉宇,侯文生,郑小林等.基于DSP的电子耳蜗语音编码及无线传输[J] .微计算机信息,2009,25 (1-2):  6-8.</p>
    <p>[8] 熊观霞,陈锡辉,刘敏,等.语前聋儿童人工耳蜗植入术后听觉语言康复效果分析[J], 广东医学,2003,24(3):228-230.</p>
    <p>[9] 李建文. 变压式皮肤听声器 [P]. China: ZL200410026265, 2006.10.25.</p>
    <p>[10]李建文. 多通道阵列式皮肤听声器[P]. China: ZL200910219078,  2011.8.10.</p>
    <p>[11]李建文. 变压式皮肤听声器的初步研究[J]. 陕西科技大学学报, 2004,22(6):66~69.</p>
    <p>[12]李建文, 唐甜. 嵌入式在皮肤听声器中的应用[J], 微电子学与计算机, 2009,26(5):239-241.</p>
    <p>[13]李建文,刘炜,韩学军.皮肤对于声音信号响应的研究[J],声学技术,2006,25(3):253-257.</p>
    <p>[14] LI Jian-wen,Yu Xiao-ming,Cao Li-jia. Response of skin to audible signal and skin-hearing aid[J], Journal Clinical Rehabilitive Tissue Engineering Reseach,2008,12(13):2579-2582.</p>
    <p>[15]李建文,付蓉. 基于DSP的皮肤听声器研究[J], 计算机工程与设计,2010,31(17):3750-3753.</p>
    <p> [16] Jianwen Li, Ziyu Li, Xuezong Ma. Reception of infrasound and audio current in derma nerves[J], Neural Regeneration Research(中国神经再生研究（英文版）),2010,5(18):1413-1417. SCI收录:673EG.</p>
    <p>[17] 张润宁，黄瑞瑜，李建文，曹力佳. 声电转换皮肤听声技术的临床研究综述[J]，中华临床荟萃杂志，2010.12,总38期:4-6.</p>
    <p>[18] 李建文,赵小羽. 基于摩斯码原理的智能模式皮肤听声器研究[J]，微电子学与计算机，2011，28(1):134-137.</p>
    <p>[19] 李建文，付蓉. 基于DSP的多通道皮肤听声器[J], 计算机工程, 2011年01期.</p>
    <p>[20] 李建文，白璐. 皮肤听声器的数字化及去噪研究[J],计算机测量与控制，2011年03期.</p>
    <p>[21] 李建文,王彪,王钟斐. 基于时频分布的皮肤听声器简单语音辨析研究[J],计算机测量与控制,2011, 19(1):127-130.</p>
  </div>


</section>

