<section class="container">

  <div class="row paragraph">
    <h3>语音频谱图与语音辨析</h3>
    <p>皮肤听声技术与声学、数学关系极为密切。我们不但需要弄清楚语音的频率范围，还通过语音频谱分析可以获得多通道阵列式皮肤听声技术辨析语音的原理。</p>
    <p class="title">a.“能量-时域”图与“频率-能量-时域”图</p>
    <p>一般的语音信息可由计算机麦克风录入后保存成为.wav文件，如图8a，这是一种“能量-时域”坐标图。经过傅里叶变换以后可以转化为“频率-能量-时域”坐标图，如图8b。我们观看图8a时很难辨别语音信号它们之间的差异，但是如果我们观察图8b时我们很容易区别它们的不同，这是因为在这个图中出现了频率分布信息。</p>
  </div>
  <div class="row">
    <img src="../assets/img/about/滤波图123.JPG" alt="" class="img-responsive col-sm-offset-3">
  </div>
  <div class="row paragraph">
    <p>在图8b中可以看出，汉语“一”的频率主要分布在500Hz以下和2k-4k之间，由于没有声母，在发音过程中变化不大。汉语“二”的频率主要分布在2kHz以下，由于没有声母，在发音过程中变化不大。由“一”变到“二”时能够明显看到中间状态。“三”明显的分为两部分声母部分和韵母部分，韵母部分为噪声特征，看不到轻重条纹。韵母部分在5kHz附近可以看能量空缺，2kHz附近也可看到能量空缺。韵母部分能够看到明显的能量分布结构，与“一”、“二”有明显的共同特征。由于以上明显的特征，我们在4通道皮肤听声实验中，将频率点设为400Hz、800Hz、1.6kHz、3.2kHz，能很容易区分“一”、“二”、“三”。但由于频率点取得很稀疏，还有一些音区分不明显，如“四”和“十”。
      事实上，我们对于许多语音都进行了频谱分析，如汉语的“你我他”，“爸爸”，“妈妈”，“一二三四五六七八九十”，见图8c，汉语拼音的“a o e y u ü b p m f g k h j q x z c s zh ch sh”等。将语音进行频谱分析后，我们仅通过图形的观察就能分辨出语音的含义。</p>
    <p class="title">b.皮肤听声器第一代与第二代的理论差异</p>
    <p>第一代皮肤听声器只有一个通道，所以只能识别“能量-时域”信息，无法分辨频率。在第二代皮肤听声器中，我们使用多通道滤波技术，其中的每一个通道还是一个独立的“能量-时域”传感器，这样第二代皮肤听声器就有了分辨频率的能力。我们使用第二代皮肤听声器听声音时就相当于我们使用眼睛观察语音频谱图，这也就是第二代皮肤听声器辨析语音的原理。人耳听觉中枢可能也是这个道理，但是还没有被证实。但是在实际制作第二代皮肤听声器时它对于频率的分辨能力要受制作工艺的限制。特别是通道数究竟达到多少才能辨析语音，而且要合理分布每个通道所对应的频率点。我们认为4通道太粗略，应该至少达到12个通道，而且这些点应该分布在300Hz~3.2kHz的范围内。</p>
    <p class="title">c.声音的频率范围与汉语语音的频率范围</p>
    <p>声音的频率范围很宽，20Hz~20kHz。我们的频率分辨能力究竟达到何种程度才能分辨我们日常所用的语音信息，这是值得我们探讨的学问。经过我们的语音带通滤波实验，汉语语音的频率范围只需要考虑300Hz~3kHz就够了。有了这个范围使得皮肤辨析声音技术的研究变得更加现实可行了。
      使用4通道皮肤听声器被试验者能明显区分许多声音，如汉语“一”、“二”、“三”、“四”、“五”，? 频率点设为400Hz、800Hz、1.6kHz、3.2kHz好于500 Hz、1kHz、2kHz、4kHz。汉语“五”特别依赖于低频率点，见图8c。
      我们在频率400Hz、800Hz、1.6kHz、3.2kHz的基础上进行了细化，对于12通道实验，我们采用的频率点为317 Hz、400 Hz、504 Hz、635 Hz、800 Hz、1008 Hz、1270 Hz、1600 Hz、2016 Hz、2540 Hz、3200 Hz、4032 Hz。使用12通道后，很容区分“一”、“二”、“三”、“四”、“五”、“六”、“七”、“八”、“九”、“十”。这也说明，在关键频率区间内将频率点增多很重要。</p>
  </div>
</section>
