section{
  padding-left: 25%;
}
.paragraph{
  color: #373e40;
}
.paragraph h3{
  text-align: center;
}
ul{
  list-style: none;
}
.paragraph p,ul{
  text-indent: 30px;
}
.paragraph p,ul li{
  line-height: 30px;
}
.paragraph .title{
  font-weight: bold;
  color: #6E8B3D;
  font-size: 16px;
}
.paragraph p span{
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.paragraph img{
  margin: 0 auto;
}
