<section>
  <div class="paragraph">
    <h3>高性能皮肤听声器</h3>
    <p>第二代皮肤听声器主要使用多通道带通滤波与阵列电极技术。这种技术涉及的内容包括：确定语音频率区间，设计与制作带通滤波电路，确定通道数，确定每个通道的频率中心，制作阵列电极，确定排列方式与制作，连接麦克风与麦克风放大电路、多通道功率放大电路、多通道升压变压器，设计与制作高效率且体积小的升压变压器。实验过程可以通过导线连接实现。如图1-a是第二代皮肤听声器的原理图。</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/第二代皮肤听声器原理图.JPG" alt="第二代皮肤听声器原理图" class="img-responsive col-sm-offset-3">
  </div>
  <div class="paragraph">
    <p>2009年11月20日申请了发明专利“多通道阵列式皮肤听声器”，2011年8月10日获得授权，专利号：ZL200910219078.1。 以发明专利“多通道阵列式皮肤听声器”为技术基础，2013年10月研制成功（第二代）高性能皮肤听声器（扎臂式、12通道滤波，阵列电极、自动音量调节、拟合感觉曲线）。</p>
    <p>发明专利证书如下图所示:</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/专利证书.jpg" alt="专利证书" class="img-responsive col-sm-offset-2">
  </div>
  <div class="paragraph">
    <p>高性能皮肤听声器汇集了人体解剖学、声学、数学、电子学等前沿科学技术，充分利用人体皮肤原有的感觉神经资源，在人体手臂皮肤上开辟了新的听觉通道，并与传统的助听器、电子耳蜗的使用都不冲突，没有副作用，且分辨率高，听觉效果又十分类似人耳听觉的效果，应该作为聋人首选的助听工具。</p>
    <p>产品样式如下图所示:</p>
  </div>
  <div class="paragraph">
    <img src="../assets/img/about/高性能皮肤听声器4件套.jpg" alt="高性能皮肤听声器4件套" class="img-responsive col-sm-offset-3">
  </div>
</section>

