<section>
  <div class="paragraph">
    <h3>第一代皮肤听声器的诞生</h3>
    <p>第一代皮肤听声器以发明专利“变压式皮肤听声器”为技术基础。第一代皮肤听声器的听觉效果大致可以归结如下：</p>
    <ul>
      <li>1.几乎对于所有的声音都非常敏感，如说话声、关门声、电话声、走路声、咳嗽声及各种环境声音等;</li>
      <li>2.经过培训，聋人可以分辨一些很简单的语音;</li>
      <li>3.对于说话声、关门声、走路声等具备区分能力;</li>
      <li>4.对于音乐的节拍具有明显的感觉及辨析能力,可能最原始的动物听声效果就是这样.</li>
    </ul>
    <p>第一代皮肤听声器的构造与原理是：</p>
    <ul>
      <li>1.麦克风将外部声音信号转化为电流脉冲信号; </li>
      <li>2.音频功放将音频信号放大; </li>
      <li>3.音频升压装置克服人体皮肤的电阻，为驱动平面电极提供高压的交流信号; </li>
      <li>4.电池为音频功放提供电源;</li>
      <li>5.平面电极用来刺激皮肤，将脉冲电流信号通过皮肤传给大脑,见图1。</li>
    </ul>
  </div>
  <div class="row">
    <img src="" alt="">
  </div>
  <div class="row paragraph">
    <p>在图1中可以看到皮肤听声器中没有使用扬声器，从而在使用过程中没有与人的原有听觉系统发生任何关系。事实上第一代皮肤听声器就是对于普通的助听器进行改造，将助听器的耳机改成升压变压器和平面电极。缺点是分辨语音的能力极其有限，但可作为声学实验设备。</p>
    <p class="title">皮肤对于声音信号的响应研究</p>
    <p>皮肤对于声音电流信号的响应范围是声电转换皮肤听声的基本问题。为了进一步探讨皮肤听声技术的基础理论，我们利用数字信号发生器直接驱动平面电极，重新对于皮肤接受振荡电流信号的频率与电压的临界点进行了实验，首次揭示了人体皮肤对于脉冲电流信号响应的频率范围至少包括0.1Hz~30kHz，见表1。</p>
    <p class="title">表1-1 皮肤响应声音信号的生理曲线</p>
  </div>
  <div class="paragraph">
    <table border="1" >
      <thead>
      <tr>
        <td></td>
        <td colspan="3.5">被测量者1，男，49岁</td>
        <td colspan="3.5">被测量者2，男，36岁</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="2">信号频率(Hz)</td>
        <td colspan="2">第一次测量</td>
        <td colspan="2">第二次测量</td>
        <td>第一次测量</td>
        <td>第二次测量</td>
      </tr>
      <tr>
        <td>信号源幅值</td>
        <td>实际电压</td>
        <td>信号源幅值</td>
        <td>实际电压</td>
        <td>信号源幅值</td>
        <td>信号源幅值</td>
      </tr>
      <tr>
        <td>0.156</td>
        <td>2.40</td>
        <td>无法测量</td>
        <td>2.20</td>
        <td>无法测量</td>
        <td>4.5</td>
        <td>4.2</td>
      </tr>
      <tr>
        <td>0.313</td>
        <td>2.30</td>
        <td>无法测量</td>
        <td>2.10</td>
        <td>无法测量</td>
        <td>3.9</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>0.625</td>
        <td>2.30</td>
        <td>无法测量</td>
        <td>2.10</td>
        <td>无法测量</td>
        <td>4.1</td>
        <td>4.0</td>
      </tr>
      <tr>
        <td>1.250</td>
        <td>2.70</td>
        <td>无法测量</td>
        <td>2.70</td>
        <td>无法测量</td>
        <td>4.0</td>
        <td>3.9</td>
      </tr>
      <tr>
        <td>2.500</td>
        <td>2.70</td>
        <td>1.942</td>
        <td>2.67</td>
        <td>1.942</td>
        <td>4.5</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>5.000</td>
        <td>1.98</td>
        <td>1.428</td>
        <td>1.75</td>
        <td>1.270</td>
        <td>2.8</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>10.00</td>
        <td>1.56</td>
        <td>1.149</td>
        <td>1.37</td>
        <td>0.991</td>
        <td>2.4</td>
        <td>2.6</td>
      </tr>
      <tr>
        <td>20.00</td>
        <td>1.65</td>
        <td>1.188</td>
        <td>1.68</td>
        <td>1.229</td>
        <td>2.7</td>
        <td>2.9</td>
      </tr>
      <tr>
        <td>40.00</td>
        <td>1.76</td>
        <td>1.267</td>
        <td>1.82</td>
        <td>1.308</td>
        <td>3.2</td>
        <td>2.8</td>
      </tr>
      <tr>
        <td>80.00</td>
        <td>1.77</td>
        <td>1.267</td>
        <td>1.88</td>
        <td>1.347</td>
        <td>3.5</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>160</td>
        <td>1.83</td>
        <td>1.307</td>
        <td>1.97</td>
        <td>1.426</td>
        <td>3.55</td>
        <td>2.9</td>
      </tr>
      <tr>
        <td>320</td>
        <td>1.94</td>
        <td>1.386</td>
        <td>1.99</td>
        <td>1.426</td>
        <td>3.73</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>320</td>
        <td>1.94</td>
        <td>1.386</td>
        <td>1.99</td>
        <td>1.426</td>
        <td>3.73</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>640</td>
        <td>2.33</td>
        <td>1.662</td>
        <td>2.36</td>
        <td>1.702</td>
        <td>4.2</td>
        <td>3.3</td>
      </tr>
      <tr>
        <td>1280</td>
        <td>2.74</td>
        <td>1.975</td>
        <td>2.77</td>
        <td>1.975</td>
        <td>4.9</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>2560</td>
        <td>3.31</td>
        <td>2.367</td>
        <td>3.31</td>
        <td>2.367</td>
        <td>5.7</td>
        <td>4.5</td>
      </tr>
      <tr>
        <td>5120</td>
        <td>4.26</td>
        <td>3.030</td>
        <td>4.16</td>
        <td>2.949</td>
        <td>6.4</td>
        <td>5.5</td>
      </tr>
      <tr>
        <td>10240</td>
        <td>5.62</td>
        <td>3.995</td>
        <td>5.22</td>
        <td>3.678</td>
        <td>7.3</td>
        <td>6.7</td>
      </tr>
      <tr>
        <td>20480</td>
        <td>8.12</td>
        <td>5.699</td>
        <td>7.64</td>
        <td>5.349</td>
        <td>8.8</td>
        <td>8.3</td>
      </tr>
      <tr>
        <td>28693</td>
        <td>9.81</td>
        <td>6.820</td>
        <td>9.80</td>
        <td>6.810</td>
        <td>10.0</td>
        <td>9.9</td>
      </tr>
      <tr>
        <td>40960</td>
        <td>无感觉</td>
        <td></td>
        <td>无感觉</td>
        <td></td>
        <td>10.0</td>
        <td>无感觉</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="paragraph">
    <p>声音的频率范围是20Hz~20KHz,次声频率范围大致为20Hz以下[23,24]。在表1中，我们可以看到，人体皮肤不但能感觉到全部的音频信号，还能感觉到范围很宽的次声信号，至少包括20Hz~0.1Hz，10Hz附近是临界电压值最低的频率点。同时还获得以下实验现象：</p>
    <ul>
      <li>1.每次测量开始时皮肤没有任何感觉，这时如果使用较为强烈的低频信号（1Hz以下）进行冲击后，便很快激活了了皮肤的感觉能力；</li>
      <li>2.加电刺激的时间越长电压临界值越低，约1小时后电压临界值稳定；</li>
      <li>3.如果将贴在皮肤上的电极按紧可以获得更低的临界电压值，如10Hz附近可达1V；</li>
      <li>4.对于低于1Hz的信号，每次信号的振荡皮肤能够感觉到两次，电压上升和电压下降时各一次。每一次感到电压上升或电压下降时有一种皮肤被按压的感觉；</li>
      <li>5.皮肤的电阻值不确定，正常情况大约400 K ?，被刺激的时间越长电阻值越小，加电刺激1小时后电阻变为80K ?；</li>
      <li>6.人体皮肤对于音频和次声信号的敏感程度因位置不同而异，也因人而异；</li>
    </ul>
    <p>在前面的实验中我们可以看到，人体皮肤对于脉冲电流信号响应的范围至少包括0.1Hz~30kHz。能让皮肤获得感觉的电压临界值大约为1~6V，一般的信号电压强度应该超过2~12V，才能保证皮肤的感觉强度。但是对于一般的便携式电子仪器来说要产生这么高的电压是很难办到的。</p>
    <p>皮肤神经对于振荡的电流信号的感觉范围至少包括0.1Hz-30kHz，但人体的听觉范围却只有20Hz-20kHz，这个损失发生在哪里？这也为生理学提出了新的课题。</p>
    <p>这次实验充分证明了人体皮肤不但能接收全部声音信号，还能接收很宽范围的次声信号。从这一点上来说，皮肤听声超过人耳是可能的。</p>
  </div>

</section>
