<en-navbar></en-navbar>
<section >
  <h1>Contact us</h1>
  <h4>Bring you a new life experience </h4>
</section>
<div class="imgbg">
  <img src="../assets/img/contact/map1.jpg" alt="">
  <i class="glyphicon glyphicon-map-marker"data-toggle="tooltip" data-placement="right" title="地址：陕西省西安市未央区大学园区陕西科技大学实验楼2A-307"></i>
  <div class="textwrap">
    <h3>The skin listening institute of shaanxi university of science and technology </h3>
    <p><span>Address：</span>Weiyang district university campus in xi 'an, shaanxi province </p>
    <p><span>Tel：</span>029-86168971</p>
    <p><span>QQ：</span>71469223</p>
  </div>
</div>
<en-footer></en-footer>
