<en-navbar></en-navbar>
<section>
  <h1>Download</h1>
  <h4>Download the relevant documentation for high-performance skin listening </h4>
</section>
<article>
  <div>
    <h4>High-performance skin listening device </h4>
    <h3>Speech training system </h3>
    <p>A computer software system designed to train the deaf to distinguish Chinese speech from speech </p>
    <a href="../assets/img/download/doc/training.zip">Download</a>
  </div>
  <div>
    <h4>High-performance skin listening device </h4>
    <h3>Publicity page </h3>
    <p>A promotional page showing the basic benefits of high-performance skin listening devices </p>
    <a [routerLink]="['/en/download/pageimg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">View</a>
    <a href="../assets/img/download/doc/高性能皮肤听声器宣传页.zip">Download</a>
  </div>
  <div>
    <h4>High-performance skin listening device </h4>
    <h3>Instruction for use </h3>
    <p>PDF files on how high-performance skin sounds are used </p>
    <a [routerLink]="['/en/download/doc']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">View</a>
    <a href="../assets/img/download/doc/高性能皮肤听声器说明书.zip">Download</a>
  </div>
  <div>
    <h3>Notice of approval of the national natural science fund project </h3>
    <a href="../assets/img/download/doc/doc.zip">Download</a>
  </div>
</article>
<section>
  <router-outlet></router-outlet>
</section>

<en-footer></en-footer>
