<div class="container">
  <div class="row">
    <ul class="video">
      <li class="col-md-4 pull-left">
        <video src="../assets/video/聋哑学生之间互相交流佩戴皮肤听声器的方法.mp4" controls="controls">
          您的浏览器不支持< video >标签
        </video>
      </li>
      <li class="col-md-4 pull-left">
        <video src="../assets/video/佩戴皮肤听声器后聋哑学生的高兴场面.mp4" controls="controls">
          您的浏览器不支持< video >标签
        </video>
      </li>
      <li class="col-md-4 pull-left">
        <video src="../assets/video/项目负责人李建文教授在皮肤听声器试用以前作介绍.mp4" controls="controls">
          您的浏览器不支持< video >标签
        </video>
      </li>
    </ul>

  </div>

</div>
