
h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}
article{
  background: url('../assets/img/contact/bgimg3.jpg');
  background-size:100% ;
}
section h1 span{
  color: #8b0000;
}
.imgbg {
  background: #fff;
  /*box-shadow:0 0 10px 10px #00BFFF ;*/
  margin: 1% 0;
  padding: 1% 0;
  box-shadow: 0 0 10px 10px #fff;
  position: relative;
}
.imgbg img{
  margin: 0 auto;
}
.imgbg i{
  position: absolute;
  font-size: 20px;
  left:56%;
  top:50%;
  color: #FFEC8B;
  cursor: pointer;
}
.row{
  margin: 10px 0;
}
.row a{
  color:#8b0000 ;
}
.row h3,.row p span{
  color: #373e40;
}
.row p{
  color:#373e40;
}
.imgstyle{
  display: inline-block;
  width:55px;
  height:55px;
  background:url("../assets/img/contact/icon-people.png");
}
.imgstyle:hover{
  background: url('../assets/img/contact/icon-people1.png');
}
.imgstyleC{
  display: inline-block;
  width:55px;
  height:55px;
  background:url("../assets/img/contact/icon-phone.png");
}
