
h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}
a{
  text-decoration: none;
  cursor: pointer;
}
section {
  padding: 30px 12%;
  background-color: #f2f2f2;
  text-align: center;
}

section h1 span{
  color: #8b0000;
}
.imgbg {
  position: relative;
  background-color: #fff;
}
.imgbg img{
  width: 70%;
  margin: 0 15%;
}

.imgbg i{
  position: absolute;
  font-size: 20px;
  left:58%;
  top:50%;
  color: #FFEC8B;
  cursor: pointer;
  display: inline;
}
.imgbg .textwrap{
  position: absolute;
  left:40%;
  top:8%;
  margin-left: -125px;
  text-align: center;
  color: #333;
  width: 40%;
}
