<footer>
  <div class="wrapimg">
    <img src="../assets/img/schoollogo.png">
  </div>

  <h4>The skin listening institute of shaanxi university of science and technology </h4>

  <section>
    <div class="wrapmap">
      <img src="../assets/img/皮肤听声研究所-百度截图.JPG" alt="">
    </div>
    <div class="wrapdetail">
      <div>
        <i class="glyphicon glyphicon-map-marker"></i>
        <span>Weiyang district university campus in xi 'an, shaanxi province </span>
      </div>
      <div>
        <i class="glyphicon glyphicon-phone-alt"></i>
        <span>029-86168971</span>
      </div>
      <div>
        <i class="glyphicon glyphicon-phone"></i>
        <span>13720771300</span>
      </div>
      <div>
        <i class="glyphicon glyphicon-envelope"></i>
        <span>71469223@qq.com</span>
      </div>
    </div>
    <div class="wraperweima">
      <img src="../assets/img/IMG_9695.png" alt="" />
      <img src="../assets/img/IMG_9696.png" alt="" />
    </div>
  </section>


  <article>
    <a href="#">Contact us</a>
    <a href="#">Consulting </a>
    <a href="#">Message</a>
    <a href="#">Alumni</a>
    <a href="#">Link</a>
    <a href="#">Mailbox</a>
    <a href="#">BBS</a>
    <p>The skin listening institute of shaanxi university of science and technology </p>
  </article>

</footer>
