h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}
.row p{
  text-indent: 30px;
}
.caption{
  text-align: center;
}
section{
  background: url('../assets/img/bgimg8.jpg');
  background-size:100% ;
}
