<sd-navbar></sd-navbar>
<section>
<div class="container">
  <div class="row">
    <h4>这里公开李建文教授在试用皮肤听声器时所获得的一些图片与视频，以后将逐渐增加。 </h4>
    <p>在研制皮肤听声器的同时，我们一直与咸阳市特殊教学校保持着密切的配合，他们不但为我们提供聋人手语翻译，也向我们提出要求尽快制作一批效果好且外观美的产品在他们学校进行试验，但由于资金短缺等问题，一直到2006年初才制作出来几个简易的皮肤听声器，外观美将需要更多资金的投入。</p>
    <p>2006年2月23日我们在咸阳市特殊教育学校实现过小批量试用，当时的皮肤听声器是由一种助听器改造成的，体积较大，外观很不美观，也没有配备可充电电池，使用成本较高。当我呼叫学生姓名时学生能马上举手应答，事实上他们是通过皮肤听声器和读唇法同时完成的，也说明皮肤听声器的效果是明显的。在2006年3月13日进行小批量试用总结，发现了如下许多实际问题对皮肤听声器的推广造成一定困难：</p>
    <ul>
      <li>由于学生找不准穴位造成信号不舒服和不稳定</li>
      <li>由于聋哑孩子长期以来没有接受过声音信号，已经习惯于手语，所以没有声音的概念，也没有对于声音信号的迫切要求</li>
      <li>实验设备不够完善，只有简单的录音机，没有如VCD、电视机、电子琴等配套设备</li>
      <li>传统的手语教学和许多应酬已经贯穿于整个教学过程，很少有时间来进行皮肤听声器的试用与训练</li>
      <li>由于无法与正常人交流，聋哑学生缺少许多生活常识，他们会将电极背面贴在皮肤上，也不知及时更换电极</li>
      <li>在使用过程中，聋哑学生不停的用手调节开关，影响正常工作</li>
      <li>由于缺少知识的普及，有些学生的家长对于皮肤听声器的安全性尚有疑虑</li>
    </ul>


  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2006年2月23日为聋哑学生佩戴皮肤听声器3-1.JPG" alt="2006年2月23日为聋哑学生佩戴皮肤听声器">
        <div class="caption">
          <p>图1 2006年2月23日为聋哑学生佩戴皮肤听声器</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2006年2月23日聋哑学生体验皮肤听声器的效果.JPG" alt="2006年2月23日聋哑学生体验皮肤听声器的效果">
        <div class="caption">
          <p>图2 2006年2月23日聋哑学生体验皮肤听声器的效果</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2006年2月23日测试佩戴皮肤听声器后的反应1-1.JPG" alt="2006年2月23日测试佩戴皮肤听声器后的反应">
        <div class="caption">
          <p>图3 2006年2月23日测试佩戴皮肤听声器后的反应</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2006年2月23日项目负责人与聋哑学生合影1-1.JPG" alt="2006年2月23日项目负责人与聋哑学生合影">
        <div class="caption">
          <p>图4 2006年2月23日项目负责人与聋哑学生合影</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <p>我们对两位老年女性聋人进行了试用
      叶哲文，女，1948年12月28日出生，57岁，小学文化，家住西安南郊，家庭妇女。双耳失聪达3多年，多年前为了一只具有残余听力的耳朵动手术，致使两只耳朵彻底失听，现在听不见任何声音，能识字、可以说话，不太流利，通过写字与正常人交流。（图5中左边为叶哲文，中间为叶哲文的哥哥，右边为叶哲文的丈夫）
      2006年5月26日（星期五），经人介绍叶哲文开始使用（原来由一种助听器改装的）皮肤听声器,到2006年6月10日历时15日，李建文进行了回访，得到如下的使用结果：她平时经常佩戴皮肤听声器，能听到人说话，但听不懂说话的意思。只要身边有动静她就能听，她认为皮肤听声器就响。事实上皮肤听声器并没有发出任何声音，仅仅产生音频电流信号，没有感到皮肤被刺痛的感觉。在生活中皮肤听声器给她带来一些方便，如能过听到水开的声音，帮助她料理家务。有 一次她戴着皮肤听声器在家中听到了很大的声音，但在家中找不到发生声音的原因，到了街上才知道是人家盖房子放炮。在家中由于噪音小，她能够判断声音产生的原因，如小孩放学后的敲门声。但到街上后，由于噪音较大，很难判断是什么声音。（图6 中分别是佩戴皮肤听声器的叶哲文与孙子和儿媳。）
      2007年12月28日，我们给叶哲文老人更换了我们生产的第一代皮肤听声器。</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../assets/img/userecord/老年聋人佩戴皮肤听声器与哥哥丈夫.JPG" alt="老年聋人佩戴皮肤听声器与哥哥丈夫">
        <div class="caption">
          <p>图5 老年聋人佩戴皮肤听声器与哥哥丈夫</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../assets/img/userecord/老年聋人佩戴皮肤听声器与孙子儿媳.JPG" alt="老年聋人佩戴皮肤听声器与孙子儿媳">
        <div class="caption">
          <p>图6 老年聋人佩戴皮肤听声器与孙子儿媳</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>苏玉萍，女，1936年2月19日出生，中专文化，退休前在西北轻工业学院机械系党总支和系办公室工作。曾因为胆结石手术后遗症（胆囊两个结石手术时未取出），手术后疼痛加重靠吃止痛药，后来止不住痛就靠打阿托品，引起听力急剧下降，直到近几年不能正常交往。患者苏玉萍，语言表达能力很强，她说她的耳鸣非常厉害，以至于她无法听到外界的声音，包括别人说话。因为耳聋，已经买了 一大堆助听器共1万多元，没有一个能起作用，有些助听器功率特别强大，使得她的听力变的更糟糕，所以她不愿意佩戴。
      2007年12月31日给苏玉萍老人试用皮肤听声器。开始佩戴皮肤听声器时，由于平面电极放步倒不到正确的位置，总感到有针扎一样的不舒服。后来找到了正确的位置，没有了不舒服的感觉。说明平面电极与耳朵后的穴位的关系很密贴，这一点我们每个正常的人也容易体验到。戴上皮肤听声器后，苏玉萍老人能明显地感到别人的说话，但一时还不能明白别人说话的意思。当然要想理解别人说话的意思就必须经过相当长时间的训练，也许是一年半载，也许是几年，因为人对语言的理解就是一个相当长的时间。从生理学上来讲，皮肤也能将声音信号传到了大脑皮层，但它与耳朵所传递的大脑皮层的位置有所不同，而且特点也有区别，所以人的大脑必须对它另行建立一套解释程序。（图7为老人患者苏玉萍与女儿，图8为项目负责人与老人患者苏玉萍。）</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../assets/img/userecord/佩戴皮肤听声器的老年聋人与女儿.JPG" alt="佩戴皮肤听声器的老年聋人与女儿">
        <div class="caption">
          <p>图7 佩戴皮肤听声器的老年聋人与女儿</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../assets/img/userecord/项目负责人与佩戴皮肤听声器的老年聋人.JPG" alt="项目负责人与佩戴皮肤听声器的老年聋人">
        <div class="caption">
          <p>图8 项目负责人与佩戴皮肤听声器的老年聋人</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>·对于聋哑学生的一次较为正规的使用
      由项目负责人提议，由于晓明负责联系陕西中医学院的专家教授参加，2008年1月7日在咸阳市特殊教育学校进行了一次试用。2008年1月7日早上9:30开车去往咸阳市特殊教育学校，10:00点左右到达咸阳市特殊教育学校，由韩学军负责提供测试的具体地点，地点定在咸阳市特殊教育学校会议室，由闫润英负责召集聋哑学生。共有7位聋哑
      人参与试用，其中1位教工6位学生，陕西中医学院外科专家侯俊明负责摄像，项目负责人也携带数码相机作影像记录。
      项目负责人作了简短说明后开始试用。开始项目负责人只准备试用4套，另外两套留作韩学军与闫润英教学使用，于晓明老师另带一套。由于其他专家的建议，将7套全部留作聋哑学生试用，所以又增加了3位聋哑学生。开始试用时有些学生已开始就感到很乐意，但有些学生明显感到刺痛，经过反复试用，找到合适位置,学生们全部接受。</p>
    <p>2007年1月7日的试用图片</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2008年1月7日戴着皮肤听声器聋哑学生们很高兴.JPG" alt="2008年1月7日戴着皮肤听声器聋哑学生们很高兴">
        <div class="caption">
          <p>图9 2008年1月7日戴着皮肤听声器聋哑学生们很高兴</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2008年1月7日皮肤听声器试用合影1.JPG" alt="2008年1月7日皮肤听声器试用合影1">
        <div class="caption">
          <p>图10 2008年1月7日皮肤听声器试用合影</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../assets/img/userecord/2008年1月7日聋哑学生之间相互交流佩戴皮肤听声器的方法.jpg" alt="2008年1月7日聋哑学生之间相互交流佩戴皮肤听声器的方法">
        <div class="caption">
          <p>图11 聋哑学生之间相互交流佩戴皮肤听声器的方法</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>图10是在2008年1月7日咸阳市特殊教育学校教学楼后面无意中由数码相机 摄到的场面，能说明皮肤听声器对聋哑学生的作用。其中有6位聋哑学生，1位聋哑教工，咸阳市特殊教育学校副校长韩学军，陕西中医学院的几位专家教授，几位项目组成员。聋哑学生戴上皮肤听声器后接收到了外部世界的声音信息,同时也感觉到外部世界声音的美妙,他们拍手制造声音。他们高兴得心情可以在跳跃的动作中得到体现。</p>
  </div>
  <div class="row">

    <h3>首次试用12通道皮肤听声器</h3>
  </div>
  <div class="row">
    <div class="media">
      <div class="media-body">
        <p>2013年3月26日下午约2:30驱车到达咸阳市特殊教育学校，同行的人有李建文教授与三个研究生李沙沙、李岩、张铭，咸阳市特殊教育学校由副校长韩学军和教师闫润英接待。</p>
        <p>使用过程使用了录像机，李沙沙作了笔记。</p>
        <p>初次佩戴12通道皮肤听声器时发现王雪同学就能准确的说出汉语“一”、“二”、“三”、“四”、“五”，时在场的我们感到非常诧异。为了发现真实的情况，我们试用关断和打开皮肤听声器电源开关的方法，发现王雪同学有残余听力，然后我们反复关断和打开皮肤听声器电源开关进行验证，得到的结论是：王雪同学有明显的残余听力，能够比较准确的说汉语“一”、“二”、“三”、“四”，但在不使用12通道皮肤听声器（关闭电源）时不能说出“五”，当使用12通道皮肤听声器（打开电源）时能说出准确的“五”。也说明，王雪同学的耳蜗低频率损失严重。 </p>
        <p>其他同学年龄相对较大，也通过手语向他们的老师反映，能区分语音，但是他们说不出来。因为长期不说话，发音器官不能协调配合，说话的动作难以完成。对我们正常人来说说话很容易，因为我们经常使用这些动作，各个器官能够灵的配合。一些患有脑血栓的病人就是因为发音器官配合不好而说话不清楚。看来说话不全是分辨语音的问题，当分辨语音的能力恢复后还应当进行长期的说话训练。</p>
      </div>
      <div class="media-right">
        <img src="../assets/img/userecord/20130326聋哑学生试用记录.jpg" alt="20130326聋哑学生试用记录" class="media-object">
      </div>
    </div>
  </div>
  <div class="row">
    <img src="../assets/img/userecord/初次试用12通道皮肤听声器1.JPG" alt="初次试用12通道皮肤听声器1" class="col-sm-6">
    <img src="../assets/img/userecord/初次试用12通道皮肤听声器2.JPG" alt="初次试用12通道皮肤听声器2" class="col-sm-6">
  </div>
  <div class="row">
    <h3>第二次试用12通道皮肤听声器</h3>
  </div>
  <div class="row">
    <img src="../assets/img/userecord/聋哑学生王雪使用皮肤听声器学习说话.jpg" alt="聋哑学生王雪使用皮肤听声器学习说话" class="col-sm-4 img-responsive">
    <img src="../assets/img/userecord/佩戴了皮肤听声器的聋哑学生王雪很喜欢弹琴.jpg" alt="佩戴了皮肤听声器的聋哑学生王雪很喜欢弹琴" class="col-sm-4 img-responsive">
    <img src="../assets/img/userecord/佩戴皮肤听声器的聋哑孩子喜欢上了弹琴.jpg" alt="佩戴皮肤听声器的聋哑孩子喜欢上了弹琴" class="col-sm-4 img-responsive">
  </div>
</div>
</section>
<sd-footer></sd-footer>
