
h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}
section{
  position: relative;
  background: url('../assets/img/bgimg7.jpg');
  background-size:100% ;
}
/*.carousel-indicators{*/
  /*position: absolute;*/
  /*left: 11%;*/
  /*top:43%;*/
/*}*/
.carousel-indicators li{
  color:#c5c5c5;
  background: #c5c5c5;
  opacity: 0.5;

}

.carousel-indicators .active{
  color:#00b3bc;
  background: #00b3bc;
  opacity: 1;
  box-shadow: 0 0 1px 1px #00b3bc;
}
section .tab-pane{
  padding: 10px 10%;
  margin-bottom: 5%;
}
section .tab-pane p{
  padding: 20px 0;
  margin: 0;
  font-size: 14px;
}
section .tab-pane .btn-primary{
  background: #00b3bc;
}
section .tab-pane .btn-primary span{
  color: #f5f5f5;
}


.media{
  margin: 0px;
}
.media .btn-primary{
  margin-bottom: 5px;
  background: #00b3bc;
}
.media p,.media .media-body a{
  font-size: 14px;
  color: #373e40;
}


#pic{
  padding: 5px;
}
.thumbnail{
  background: rgba(0,0,0,0);
  box-shadow: 1px 1px 2px 2px #a2b4ba;
  text-align: center;
  padding: 0;
}
.thumbnail .caption{
  background:#00b3bc;
}
