 <sd-navbar></sd-navbar>
  <section>
    <div class="container-fluid">
      <span>高性能，</span>
      <h1>皮肤，听声器，在此。</h1>
      <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">进一步了解 > </a>
      <img src="../assets/img/f452eae89d5254abc37b40b03461d4c4.png" alt="" class="img-responsive">
    </div>
    <div class="divide">
      <div class="container-fluid left">
        <span>第一代，</span>
        <h1>皮肤，听声器。</h1>
        <p>高性能皮肤听声器汇集了人体解剖学、声学、数学、电子学等前沿科学技术，充分利用人体皮肤原有的感觉神经资源，在人体手臂皮肤上开辟新的听觉通道，可作为聋人首选的助听工具。</p>
        <a [routerLink]="['/about/article4']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">进一步了解 > </a>
        <img src="../assets/img/about/skin_hearing_aid.png" alt="...">
      </div>
      <div class="container-fluid right">
        <span>第二代，</span>
        <h1>皮肤，听声器。</h1>
        <p>2013年10月研制成功第二代皮肤听声器，称为高性能皮肤听声器。特点：扎臂式、12通道滤波，阵列电极、自动音量调节、拟合感觉曲线。高性能皮肤听声器能使聋人分辨语音。</p>
        <a [routerLink]="['/about/article5']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">进一步了解 > </a>
        <img src="../assets/img/about/高性能皮肤听声器.png" alt="...">
      </div>
    </div>

    <div class="container-fluid style" id="boxstyle">
        <img src="../assets/img/about/ear.png" alt="..." class="img-responsive">
        <h1>更个性，更强大，也更有乐趣。</h1>
        <p>多学科融合的科学结晶，聋人问题终极解决方案，像电子耳蜗一样的效果，像助听器一样的方便。</p>
        <h4>图片欣赏 ↓↓ </h4>
    </div>
    <div class="wrap" id="wrap">
      <div [class]="iconstyle" [id]="i" (click)="turn(i)" *ngFor="let _html of data;let i =index">
        <div class="photo-wrap">
          <div class="side side-front">
            <p class="image">
              <img [src]=" '../assets/img/'+_html.img" alt="">
            </p>
            <p class="caption">{{_html.title}}</p>
          </div>
          <div class="side side-back">
            <p class="desc">{{_html.desc}}</p>
          </div>
        </div>
      </div>
      <div class="nav">
        <span [id]="'nav'+k" (click)="turn(k)" class="i" *ngFor="let _html of data;let k =index">&nbsp;</span>
      </div>
    </div>
    <div class="oldpeople">
      <img src="../assets/img/467588.jpg" alt="" class="img-responsive">
      <div class="textwrap">
        <h2>皮肤听声器，青少年应用</h2>
        <p>多种多样的可能性，让你的生活方式从此大不相同。</p>
        <a href="">进一步了解 皮肤听声器 青少年应用 > </a>
      </div>
    </div>
    <div class="oldpeople">
      <img src="../assets/img/128678.jpg" alt="" class="img-responsive">
      <div class="textwrap">
        <h2>皮肤听声器，老年应用</h2>
        <p>在正常听力丧失前就开始使用，安享幸福晚年。</p>
        <a href="">进一步了解 皮肤听声器 老年应用 > </a>
      </div>
    </div>
    <div class="container-fluid">
      <!---->
      <span>疑难解答</span>
      <h4>我们随时提供帮助。</h4>
      <div class="pull-left textwrapleft">
        <img src="../assets/img/quiz.png" alt="" class="img-responsive">
        <h3>高性能皮肤听声器适合在什么情况下使用？</h3>
        <p>我们一直都很高兴迎接新用户的加入，以下链接可以帮助您开始使用高性能皮肤听声器。</p>
        <a (click)="click()">了解详情 > </a>
      </div>
      <div class="pull-right textwrapright">
        <img src="../assets/img/quiz.png" alt="" class="img-responsive">
        <h3>与传统助听器相比，它特点和优势是什么？</h3>
        <p>让我们帮助您了解皮肤听声器，并向您展示它提供得一些强大功能。</p>
        <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">了解高性能皮肤听声器 > </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div *ngIf="btn" class="panel panel-default col-md-offset-4 panelstyle">
          <div class="panel-body">
            {{content}}
          </div>
        </div>
      </div>

    </div>




    <router-outlet></router-outlet>
  </section>
  <sd-footer></sd-footer>

