h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}
section{
  position: relative;
  /*background: url('../assets/img/bgimg7.jpg');*/
  /*background-size:100% ;*/
  z-index: 2;
}


.container-fluid{
  padding: 90px 0;
  text-align: center;
  background-color: #f2f2f2;
  /*margin-bottom: 30px;*/
}
.container-fluid span{
  color:#333333;
  font-size: 40px;
  font-weight: bold;
}
.container-fluid h1{
  font-size: 36px;
  color: #333;
}
.container-fluid a{
  display: block;
  font-size: 22px;
}
.container-fluid img{
  margin: 0 auto;
}
.container-fluid p{
  width: 70%;
  margin: 10px auto;
  line-height: 35px;
}
.divide{
  display: flex;
  justify-content: space-around;
}
.left,.right{
  width:49%;
  margin:30px 0;
}

.left span,.right span{
  font-size: 32px;
  font-weight: 200;
}
.left h1,.right h1{
  font-size: 28px;
  font-weight: 200;
}
.style{
  background-color: #fff;
  padding: 30px 0;
  position: relative;
  top:-20px;
}
.oldpeople{
  padding: 0;
  /*height: 800px;*/
  /*background: url("../assets/img/128678.jpg");*/
  /*background-size: 100%;*/
  position: relative;
  margin: 20px 0;
}
.oldpeople img{
  margin:0 auto;
}
.oldpeople .textwrap{
  width: 40%;
  position: absolute;
  left:13%;
  top:20%;
  text-align: center;
  color:#8B4726;
}
.oldpeople h2{
  font-weight: 400;
  font-size:36px;
}
.oldpeople p{
  margin: 30px 0;
}
.oldpeople a{
  color:#8B4726;
  font-size: 16px;

}
.textwrapleft,.textwrapright{
  width:49%;
  /*padding: 10px 20px;*/
  margin: 0 auto;
  box-sizing: border-box;
}
.textwrapleft{
  padding-left: 163px;
}
.textwrapright{
  padding-right: 163px;
}
.textwrapleft img,.textwrapright img{
  margin: 0 auto;
}
.textwrapleft a,.textwrapright a{
  font-size: 16px;
  cursor: pointer;
}



/*图片墙的样式*/
.wrap{
  width: 100%;
  height: 800px;
  position: relative;
  /*top:50%;*/
  margin: 20px 0;
  background-color: #f2f2f2;
  overflow: hidden;
  perspective: 800px;
  -webkit-perspective: 800px;
}
.photo{
  width:260px;
  height: 320px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0,0,0,0.01);
  -webkit-transition: all .5s;
}
.photo .side{
  width: 100%;
  height:100%;
  background-color: #fff;
  position: absolute;
  top:0;
  right:0;
  padding: 20px;
  box-sizing: border-box;
}

.photo .side-front .image{
  width: 100%;
  height: 250px;
  line-height: 250px;
  overflow: hidden;
  margin: 0;
}
.photo .side-front .image img{
  width:100%;
}
.photo .side-front .caption{
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}


.photo .side-back .desc{
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}
.photo_center{
  left: 50%;
  top:50%;
  margin:-160px 0 0 -130px;
  z-index: 999;
}
.photo-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.photo-wrap .side-front{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.photo-wrap .side-back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.photo-wrap .side{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /**/
}
.photo_front .photo-wrap{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.photo_back .photo-wrap{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
@font-face {
  font-family: "icons";
  src:url('../fonts/icons/turn-arrow.svg') format('svg');
  unicode-range:U+0-10FFFF;
}
.nav{
  width: 80%;
  height:30px;
  line-height: 30px;
  position: absolute;
  left: 10%;
  bottom: 20px;
  z-index: 999;
  /*background-color: #fff;*/
  text-align: center;
}
.nav .i{
  width:30px;
  height:30px;
  display: inline-block;
  cursor: pointer;
  background-color:#aaa;
  text-align: center;
  border-radius:50%;
  -webkit-transform: scale(.5);
  -webkit-transition: all .5s;
}
.nav .i:after{
  content:'\21B7';
  font-family: 'icons';
  color: #fff;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  opacity: 0;
}
.nav .i_current{
  -webkit-transform: scale(1);
}
.nav .i_current:after{
  opacity: 1;
}
.nav .i_back{
  -webkit-transform: rotateY(-180deg);
  background-color: #555;
  /*-webkit-backface-visibility: hidden;*/
}
/*优化样式*/
.photo{
  left: 50%;
  top:50%;
  margin:-160px 0 0 -130px;
}
.photo-wrap{
  -webkit-transform-origin:0% 50% ;
}
.photo_front .photo-wrap{
  -webkit-transform: translate(0px,0px) rotateY(0deg);
}
.photo_back .photo-wrap{
  -webkit-transform: translate(260px,0px) rotateY(180deg);
}











