h1,h2,h3,h4,h5,h6,p,a,li,span{
  font-family: 微软雅黑;
}

section{
  background: url('../assets/img/bannerimg1.png');
  background-size:100% ;
}
a{
  text-decoration: none;
  cursor: pointer;
}
section h1 span,.row a{
  color: #8b0000;
}
.row{
  margin: 10px 0;
}
