<sd-navbar></sd-navbar>
<section>
    <h1>相关资料下载 <span>download</span> </h1>
    <h4>下载高性能皮肤听声器的相关文献</h4>
</section>
<article>
    <div>
      <h4>高性能皮肤听声器</h4>
      <h3>语音训练系统</h3>
      <p>用来训练聋人分辨汉语语音和发声的计算机软件系统</p>
      <a href="../assets/img/download/doc/training.zip">下载</a>
    </div>
    <div>
      <h4>高性能皮肤听声器</h4>
      <h3>宣传页</h3>
      <p>展示高性能皮肤听声器基本优点的宣传页</p>
      <a [routerLink]="['/download/pageimg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">在线浏览</a>
      <a href="../assets/img/download/doc/高性能皮肤听声器宣传页.zip">下载</a>
    </div>
    <div>
      <h4>高性能皮肤听声器</h4>
      <h3>使用说明书</h3>
      <p>关于高性能皮肤听声器如何使用的pdf文件</p>
      <a [routerLink]="['/download/doc']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">在线浏览</a>
      <a href="../assets/img/download/doc/高性能皮肤听声器说明书.zip">下载</a>
    </div>
    <div>
      <h3>国家自然科学基金项目批准通知书</h3>
      <a href="../assets/img/download/doc/doc.zip">下载</a>
    </div>
</article>
<section>
  <router-outlet></router-outlet>
</section>

<sd-footer></sd-footer>
