<en-navbar></en-navbar>
<section>
  <h1>Product</h1>
  <h4>Understand the function and use of the skin listening device </h4>
</section>
<article>
  <div class="top" id="topbox">
    <h2>"The third type of hearing aid"<span>Listening tools of the deaf </span></h2>
    <p>The science and technology of human anatomy, acoustics, mathematics, electronics, etc</p>
    <span>Similar human ear hearing effect </span><span>No side effect</span><span>High resolution</span>
  </div>
  <div class="bottom">
    <div class="leftbox">
      <div class="everybox">
        performance
        <div>The use of human skin to get outside sound signals does not depend on the body's original hearing system, which works for any deaf person </div>
        <p></p>
      </div>
      <div class="everybox">
        <div>The ability to sense voice signals above 50dB within 250-5khz can enable deaf people to learn and distinguish various sound signals, which can be used in parallel with traditional hearing AIDS </div>
        <p></p>
      </div>
      <div class="everybox">
        <div>The problem of hearing problems for deaf people does not require surgery </div>
        <p></p>
      </div>
      <div class="everybox">
        <div>Common rechargeable battery drive, low cost, 0.5 W static power consumption </div>
        <p></p>
      </div>
    </div>
    <img src="../assets/img/about/高性能皮肤听声器4件套.jpg" alt="">
    <div class="rightbox">
      <div class="everybox">
        Using range
        <p></p>
        <div>For deaf and mute children with residual hearing, the effect is especially pronounced, which can help them learn a lot of pronunciation quickly</div>
      </div>
      <div class="everybox">
        <p></p>
        <div>All deaf children after using high-performance skin-hearing device through long-term training oral action is needed to learn to speak, this is because the voice is to the day after tomorrow, so you should use as soon as possible </div>
      </div>
      <div class="everybox">
        <p></p>
        <div>Older people who use high-performance skin listening devices should begin before their normal hearing loss </div>
      </div>
      <div class="everybox">
        <p></p>
        <div>It can be used as an acoustic experimental tool </div>
      </div>
    </div>
  </div>
</article>
<section>
  <!--<div>-->
  <h2>Compared with traditional hearing AIDS </h2>
  <h5>Skin listening is the use of the sensory nerve resources of human skin to replace the human ear hearing system, which opens up new auditory channels on the skin of the human arm </h5>
  <!--</div>-->
  <div class="compare">
    <div>
      <h3>Traditional hearing AIDS</h3>
      <p>Applicable only to persons with residual hearing.</p>
      <p>The hearing aid only ACTS as a magnifying sound and still requires the use of residual hearing.</p>
      <p>The loss of hearing ability is caused by an inflammation of the ear canal 。</p>
      <p>The sound of the speaker comes from the microphone, which is transmitted into the microphone, which produces high frequency noise, called self-excitation, which seriously affects the auditory effect.</p>
      <p>Not to increase the filter channel, the hearing effect is very limited.</p>
    </div>
    <div>
      <h3>High-performance skin listening device </h3>
      <p>Any deafness can be used. </p>
      <p>It has nothing to do with the body's original hearing system, which USES the sensory nerve of the body's arm. </p>
      <p>It does not affect the original hearing, no side effects. </p>
      <p>Because there is no speaker, there is no self-excitation phenomenon, and the sound signal is pure. </p>
      <p>With the development and improvement of electronic technology, the sound effect can be improved and the future will be great. </p>
    </div>
  </div>
</section>
<section class="changebg">
  <!--<div>-->
  <h2>Compared to the cochlear implant </h2>
  <h5>The use of the skin listening device and the electronic cochlear implant is not in conflict, has no side effects, and has high resolution </h5>
  <!--</div>-->
  <div class="compare">
    <div>
      <h3>High-performance skin listening device </h3>
      <p>Any deafness can be used. </p>
      <p>The arm is worn, can be disassembled at any time, no surgical operation, no risk, the hearing effect is immediate. </p>
      <p>It is not related to the human body's original auditory nerve, which USES the body's sensory nerve to transmit sound signals. </p>
      <p>The price is low, about 5,000 yuan per unit, and it is powered by rechargeable batteries, charging 1 times a day. </p>
      <p>The process is simple, not damaging the body's original hearing system, and can be used with hearing AIDS and electronic cochlear, without any risk. </p>
      <p>With the addition of more filtering channels to the electronic technology, the sound effects can be improved and the future is far ahead. </p>
    </div>
    <div>
      <h3>Electronic cochlear </h3>
      <p>For deaf people who are normal auditory neurologic. </p>
      <p>Complex surgical procedures, requiring wound healing time, do not work immediately. </p>
      <p>Need body's original auditory nerve. </p>
      <p>Expensive</p>
      <p>The installation process destroys the body's original hearing system and has technical risks. </p>
      <p>There is no way to increase the filter channel. </p>
    </div>
  </div>
</section>
<section class="changemargin">
  <h2>The difference between two generations of skin listening devices </h2>
  <h5>Using high-performance skin listening devices can enhance hearing or enhance speech resolution. </h5>
  <div class="compare">
    <div>
      <h3>The first generation of skin sounds </h3>
      <p>Invention patent: transformer skin listening device (The audio boost is the main technical basis ).</p>
      <p>A single electrode is attached to the earlobe.</p>
      <p>1 channel, can feel all kinds of sound, can distinguish the environment sound. </p>
      <p>No automatic volume control. </p>
      <p>There is no fitting sense curve. </p>
    </div>
    <div>
      <h3>The second generation of skin sounds </h3>
      <p>Invention patent: Multi-channel array skin listening device (The main technical basis of multichannel audio filtering and array electricity ).</p>
      <p>The arm array electrode is more comfortable.</p>
      <p>12 frequency channel filtering, the ability to distinguish frequency, can distinguish speech. </p>
      <p>Automatic volume control, which makes the volume of the receiver wider. </p>
      <p>The fitting sensation curve makes all these factors improve at the same time. </p>
    </div>
  </div>
</section>



<en-footer></en-footer>
