<sd-navbar></sd-navbar>
<article>
  <div class="container">
    <div class="row paragraph">
      <p>皮肤听声就是利用人体皮肤的感觉资源来代替人耳听觉系统，主要用于解决聋人的听觉难题。皮肤听声器属于第三类助听器。
        高性能皮肤听声器汇集了人体解剖学、声学、数学、电子学等前沿科学技术，充分利用人体皮肤原有的感觉神经资源，在人体手臂皮肤上开辟了新的听觉通道，并与传统的助听器、电子耳蜗的使用都不冲突，没有副作用，且分辨率高，听觉效果又十分类似人耳听觉的效果，应该作为聋人首选的助听工具。
        聋人如果还未使用过任何助听工具，首先应该考虑高性能皮肤听声器。如果已经使用了助听器或电子耳蜗，可以再尝试同时使用高性能皮肤听声器，看能否明显的增强听力，或者明显的增强语音分辨能力。</p>
      <p class="title">基本性能：</p>
      <ul>
        <li>通过人体皮肤获取外界声音信号，不依赖人体原来的听觉系统，对于任何聋人都起作用，包括无任何残余听力的全聋人、老年聋人；</li>
        <li>能感知250-5kHz以内，50dB以上的声音信号；</li>
        <li>能够分辨语音；</li>
        <li>可以使全聋人获知和分辨各种声音信号，没有副作用，可以与传统的助听器并行使用；</li>
        <li>解决聋人听觉问题不需要任何外科手术，并可以达到立竿见影的效果；</li>
        <li>通过普通的可充电电池驱动，使用成本低，静态功耗0.5W。</li>
      </ul>
      <p class="title">适用范围：</p>
      <ul>
        <li>对于有残余听力的聋哑儿童效果特别明显，可以帮助他们很快学会很多发音；</li>
        <li>全聋儿使用高性能皮肤听声器后需要经过长期训练口腔动作才能学会说话，这是由于语音是后天学会的，所以应该尽早使用；</li>
        <li>老年人使用高性能皮肤听声器应该在他们正常听力丧失前就开始；</li>
        <li>可作为声学实验工具。</li>
      </ul>
      <p class="title">助听器的分类：</p>
      <ul>
        <li>第一类是传统的助听器，主要是将声音信号放大，仍然需要使用原来听觉系统的滤波功能分辨声音；</li>
        <li>第二类是电子耳蜗，电子耳蜗内有独立的多通道电子音频滤波装置，脱离了人耳的音频滤波系统，但仍需要利用人耳的听觉神经传递信号；</li>
        <li>第三类是皮肤听声器，高性能皮肤听声器内也有独立的多通道电子音频滤波装置，利用人体皮肤传递声音信号，完全脱离人体原有的听觉系统。</li>
      </ul>
      <p class="title">与传统助听器的比较 </p>
      <table border="1">
        <tr>
          <td>序号</td>
          <td>高性能皮肤听声器</td>
          <td>传统助听器</td>
        </tr>
        <tr>
          <td>1</td>
          <td>任何聋人均可使用</td>
          <td>仅适用于有残余听力的人</td>
        </tr>
        <tr>
          <td>2</td>
          <td>与人体原有听觉系统无关，利用人体手臂感觉神经传递声音信号</td>
          <td>助听器仅仅起到声音放大的作用，仍然需要利用人体残余听力</td>
        </tr>
        <tr>
          <td>3</td>
          <td>不影响人体原有的听力，没有副作用</td>
          <td>因为赌赛耳孔，引起中耳发炎，会使人体原有的听觉能力下降</td>
        </tr>
        <tr>
          <td>4</td>
          <td>由于无扬声器，所以无自激现象，声音信号纯正</td>
          <td>扬声器的声音来自于麦克风，发出的声音传进麦克风，会产生高频率噪音，称为自激现象，严重影响听觉效果 </td>
        </tr>
        <tr>
          <td>5</td>
          <td>随着电子技术的发展改进空间十分广阔，听声效果可以不断改进，前途远大</td>
          <td>不会增加滤波通道，助听效果十分有限 </td>
        </tr>
      </table>
      <p class="title">与电子耳蜗的比较 </p>
      <table border="1">
        <tr>
          <td>序号</td>
          <td>高性能皮肤听声器</td>
          <td>电子耳蜗</td>
        </tr>
        <tr>
          <td>1</td>
          <td>任何聋人均可使用</td>
          <td>适用于听觉神经正常的聋人</td>
        </tr>
        <tr>
          <td>2</td>
          <td>手臂佩戴，可以随时拆卸，不需要任何外科手术，没有任何风险，听觉效果立竿见影</td>
          <td>需要复杂的外科手术，需要伤口愈合时间，不能立即发挥作用</td>
        </tr>
        <tr>
          <td>3</td>
          <td>与人体人体原有的听觉神经无关，利用人体手臂感觉神经传递声音信号</td>
          <td>需要利用人体原有的听觉神经</td>
        </tr>
        <tr>
          <td>4</td>
          <td>价格低，单价5千元左右，并由可充电电池提供能源，每天充电1次</td>
          <td>价格昂贵</td>
        </tr>
        <tr>
          <td>5</td>
          <td>
            佩戴过程简单，不破坏人体原有的听觉系统，并可与助听器、电子耳蜗同时使用，无任何风险</td>
          <td>安装过程破坏人体原有的听觉系统，有技术风险</td>
        </tr>
        <tr>
          <td>6</td>
          <td>随着电子技术的可以增加更多的滤波通道，听声效果可以不断改进，前途远大</td>
          <td>不可能增加滤波通道，效果有限</td>
        </tr>
      </table>
      <p class="title">研究过程</p>
      <p>皮肤听声技术的研究由陕西科技大学李建文教授创始于1994年12月，2004年6月申报发明专利“变压式皮肤听声器” ，2006年10月授权，专利号ZL200410026265.5，2006年“声-电转换皮肤听声的进一步研究”获得国家自然科学基金的资助（60672001）；以发明专利“变压式皮肤听声器”为技术基础，2007年9月研制成功（第一代）单通道皮肤听声器；2008年7月成立陕西科技大学皮肤听声研究所；2009年11月申报发明专利“多通道阵列式皮肤听声器” ，2011年8月授权，专利号ZL200910219078.1；以发明专利“多通道阵列式皮肤听声器”为技术基础，2013年10月研制成功（第二代）高性能皮肤听声器（扎臂式、12通道滤波，阵列电极、自动音量调节、拟合感觉曲线）。目前有发明专利3项，实用新型专利8项。</p>
      <p class="title">两代皮肤听声器差异对比</p>
      <table border="1">
        <tr>
          <td>序号</td>
          <td>第二代</td>
          <td>第一代</td>
        </tr>
        <tr>
          <td>1</td>
          <td>发明专利：多通道阵列式皮肤听声器 (以多通道音频滤波和阵列电极为主要技术基础)</td>
          <td>发明专利：变压式皮肤听声器 (以音频升压为主要技术基础)</td>
        </tr>
        <tr>
          <td>2</td>
          <td>扎臂式阵列电极，更舒适</td>
          <td>单电极贴在耳垂后</td>
        </tr>
        <tr>
          <td>3</td>
          <td>12个频率通道滤波，有分辨频率的能力，能分辨语音</td>
          <td>1个通道，能感觉各种声音，能分辨环境声音</td>
        </tr>
        <tr>
          <td>4</td>
          <td>自动音量调节，使得接收的音量范围更宽</td>
          <td>无自动音量调节</td>
        </tr>
        <tr>
          <td>5</td>
          <td>拟合感觉曲线，使以上多个因素同时得到提高 </td>
          <td>无拟合感觉曲线</td>
        </tr>
      </table>
    </div>
  </div>
</article>
<sd-footer></sd-footer>
