<sd-navbar></sd-navbar>

<section id="fourth">
  <div class="header" id="anchor2">
    <h2>项目负责人，李建文教授</h2>
    <div class="line"></div>
    <h3>立项过程</h3>
    <p>李建文教授惯于观察各种自然现象，并善于捕捉思维灵感。早在1988年就已经开始思考聋人的听说问题。但关于皮肤听声问题的思考应该开始于1994年12月的一次偶然试验，发现了人的皮肤对于声音电流信号的敏感现象，以后就开始利用业余时间对于接触式电子听觉器的研究。2005年11月得到我国声学权威的肯定，并电话赞誉李建文教授“对科学的不小贡献”。<br/>在此期间李建文教授发表了一系列论文如：“变压式皮肤听声器的初步研究”《陕西科技大学学报》2004年第6期，“利用PC扬声器产生语音的原理及其听觉推理”《陕西科技大学学报》2005年第4期，“皮肤对于声音信号响应的研究”《声学技术》（中文核心期刊）2006年第3期，2006年5月“变压式皮肤听声器”再获我国知识产权局授发明专利权，2006年10月25日授权公告。</p>
  </div>
  <div class="mainBg clear">
    <div class="main">
      <div class="left">
        <div class="box">
          <div class="clear">
            <div class="order">01</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">1994年12月</p>
            <dl>
              <dt>“皮肤听声器”雏形</dt>
              <dd>一次偶然试验发现</dd>
              <dd>皮肤对于声音电流信号的敏感</dd>
              <dd>研究接触式电子听觉器</dd>
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">03</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">1998年12月</p>
            <dl>
              <dt>“皮肤听声器”雏形</dt>
              <dd>申报发明专利</dd>
              <dd>接触式电子听觉器</dd>
              <dd>申请号：98113051.8</dd>
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">05</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">2003年12月</p>
            <dl>
              <dt>“皮肤听声器”雏形</dt>
              <dd>接触式电子听觉器</dd>
              <dd>在陕西科技大学获得立项</dd>
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">07</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">2005年6月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>获得陕西省教育厅专项基金资助3万元</dd>
              <dd>李建文教授发表了一系列论文</dd>
              <dd>获我国知识产权局授发明专利权</dd>
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">09</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">2007年9月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>设计出第一代皮肤听声器。</dd>
              <dd>去不同小学进行实践</dd>
              <dd>取得经验并改进</dd>
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">11</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">2009年11月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>申报发明专利</dd>
              <dd>“多通道阵列式皮肤听声器”</dd>
              <!--<dd>3、字符串&数组</dd>-->
            </dl>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <div class="order">13</div>
            <div class="topLine"></div>
          </div>
          <div class="clear">
            <p class="year">2011年8月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>“多通道阵列式皮肤听声器” </dd>
              <dd>获国家发明专利</dd>
              <dd>专利号：ZL200910219078.1</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="mCenter">
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="arc">
          <div></div>
        </div>
      </div>
      <div class="right">
        <div class="box">
          <div class="clear">
            <p class="year">1995年12月</p>
            <dl>
              <dt>“皮肤听声器”雏形</dt>
              <dd>“便携式拼音说话器”</dd>
              <dd>获得国家实用新型专利</dd>
              <dd>专利号：ZL95245335.5，没有推广</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">02</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2000年6月</p>
            <dl>
              <dt>“皮肤听声器”雏形</dt>
              <dd>接触式电子听觉器</dd>
              <dd>在《发明专利公报》16卷26期公开</dd>
              <dd>但很难实用</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">04</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2004年4月</p>
            <dl>
              <dt>“皮肤听声器”诞生</dt>
              <dd>加入音频变压器</dd>
              <dd>改课题为“皮肤听声器”</dd>
              <dd>再次申报国家发明专利</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">06</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2006年9月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>李建文教授主持的项目</dd>
              <dd>“声-电转换皮肤听声的进一步研究”</dd>
              <dd>获得国家自然科学基资助</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">08</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2008年7月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>成立陕西科技大学皮肤听声研究所</dd>
              <!--<dd>2、初识JS</dd>-->
              <!--<dd>3、属性操作</dd>-->
            </dl>
          </div>
          <div class="clear">
            <div class="order">10</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2010年2月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>国家自然科学基金项目</dd>
              <dd>“声-电转换皮肤听声的进一步研究”</dd>
              <dd>证明皮肤听声可以分辨语音。</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">12</div>
            <div class="topLine"></div>
          </div>
        </div>
        <div class="box">
          <div class="clear">
            <p class="year">2013年10月</p>
            <dl>
              <dt>“皮肤听声器”主要成果</dt>
              <dd>研制成功第二代皮肤听声器</dd>
              <dd>扎臂式、12通道滤波，阵列电极</dd>
              <dd>自动音量调节、拟合感觉曲线</dd>
              <dd>能使聋人分辨语音</dd>
            </dl>
          </div>
          <div class="clear">
            <div class="order">14</div>
            <div class="topLine"></div>
          </div>
        </div>
      </div>
      <!--<div class="rightBtn">-->
        <!--<div><span>“皮肤听声器”主要成果</span></div>-->
        <!--<div><span>开课一周后再决定是否继续学习</span></div>-->
      <!--</div>-->
    </div>
  </div>
</section>
<aside>
<div class="showaachieve">
  <div class="info">
    <h1>个人信息</h1>
    <div class="infoimg">
      <img src="../assets/img/inventor/LI%20Jianwen.jpg" alt="" id="img">
      <p>李建文，男，1959年2月出生，西安市人。1982年毕业于西北大学数学系，理学学士。2006 年晋升为计算机专业教授，现任陕西科技大学电气与信息工程学院教授，硕士生导师，主要从事计算机软件教学各种应用软件的研究开发。</p>
    </div>
  </div>
  <div class="textwrap">
    <h1>个人成就</h1>
    <p>钻研十余载，为了聋哑人的听声梦。</p>
  </div>
  <div class="top">
    <div class="text">
      说话器，“财务管理系统”、“多媒体汉字系统”、“抄纸过程质量控制系统”、“石英晶体热敏网络温度补偿系统”等10余套计算机软件。
    </div>
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>发表</span>
      </div>
    </div>
    <div class="text">
      主编过如《实用网络通信编程技术》等有关计算机教材2本
    </div>
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>参编</span>
      </div>
    </div>
    <div class="text">
      1997年10月研制了具备语音功能的“多媒体汉字系统”被鉴定为国内领先
    </div>
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>获奖</span>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>发明</span>
      </div>
    </div>
    <div class="text">
      发表过学术论文40余篇,2000年所参与完成的国家九五攻关项目“抄纸过程优化控制系统”在2001年通过国家鉴定
    </div>
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>主编</span>
      </div>
    </div>
    <div class="text">
      参编过已出版的计算机教材1本
    </div>
    <div class="texticon">
      <p class="centerline"></p>
      <div>
        <span>研制</span>
      </div>
    </div>
    <div class="text">
      2002年获得陕西省高等学校科学技术二等奖，并在2003年获得陕西省科学技术三等奖。曾经8次分别获得陕西科技大学指导学生创新教育和优秀毕业设计一等奖、二等奖和三等奖。
    </div>
  </div>
</div>
</aside>
<sd-footer></sd-footer>
