<sd-navbar></sd-navbar>
<article>
<section class="container">
  <div class="row">
    <div class="col-sm-5">
      <h1>项目负责人</h1>
    </div>
    <div class="col-sm-2 col-sm-offset-3">
      <img src="../assets/img/inventor/inventor2.png" alt="" class="img-responsive">
    </div>
    <div class="col-sm-2">
      <img src="../assets/img/inventor/inventor3.png" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="../assets/img/inventor/LI%20Jianwen.jpg" alt="...">
        </a>
      </div>
      <div class="media-body  media-middle">
        <h4 class="media-heading">个人信息</h4>
        <p>李建文，男，1959年2月出生，西安市人。1982年毕业于西北大学数学系，理学学士。2006 年晋升为计算机专业教授，现任陕西科技大学电气与信息工程学院教授，硕士生导师，主要从事计算机软件教学各种应用软件的研究开发。</p>
        <h4 class="media-heading">个人成就</h4>
        <p>曾发明过说话器、还开发过大量的计算机软件，如“财务管理系统”、“多媒体汉字系统”、“抄纸过程质量控制系统”、“石英晶体热敏网络温度补偿系统”等10余套，发表过学术论文40余篇，主编过如《实用网络通信编程技术》等有关计算机教材2本，参编过已出版的计算机教材1本。1997年10月研制了具备语音功能的“多媒体汉字系统”被鉴定为国内领先。2000年所参与完成的国家九五攻关项目“抄纸过程优化控制系统”在2001年通过国家鉴定，在2002年获得陕西省高等学校科学技术二等奖，并在2003年获得陕西省科学技术三等奖。另外，曾经8次分别获得陕西科技大学指导学生创新教育和优秀毕业设计一等奖、二等奖和三等奖。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>立项过程</h4>
    <p>李建文教授惯于观察各种自然现象，并善于捕捉思维灵感。早在1988年就已经开始思考聋人的听说问题。但关于皮肤听声问题的思考应该开始于1994年12月的一次偶然试验，发现了人的皮肤对于声音电流信号的敏感现象，以后就开始利用业余时间对于接触式电子听觉器的研究。其中，1995年12月29日 “便携式拼音说话器”获得国家实用新型专利，专利号：ZL95245335.5，但是由于说话器不能解决聋哑人听觉的根本问题，没有推广。1998年12月18日申报了发明专利“接触式电子听觉器”，申请号98113051.8，2000年6月28日“接触式电子听觉器”于《发明专利公报》第16卷，第26期上公开。但这时的接触式电子听觉器很难实用。2003年12月“接触式电子听觉器”在陕西科技大学获得立项。</p>
    <p>2004年4月，由于音频变压器的使用，使李建文教授将原来的课题改为“皮肤听声器”，并于2004年6月以“变压式皮肤听声器”再此申报的国家发明专利。</p>
    <p>“皮肤听声器”于2005年6月获得陕西省教育厅专项基金资助3万元，编号：05JC03。2005年11月得到我国 声学权威的肯定，并电话赞誉李建文教授“对科学的不小贡献”。</p>
    <p>在此期间李建文教授发表了一系列论文如：“变压式皮肤听声器的初步研究”《陕西科技大学学报》2004年第6期，“利用PC扬声器产生语音的原理及其听觉推理”《陕西科技大学学报》2005年第4期，“皮肤对于声音信号响应的研究”《声学技术》（中文核心期刊）2006年第3期，2006年5月“变压式皮肤听声器”再获我国知识产权局授发明专利权，2006年10月25日授权公告。</p>
    <p>2006年9月 李建文教授主持的项目“声-电转换皮肤听声的进一步研究”获得国家自然科学基资助，编号60672001。从此，关于皮肤听声技术的研究进入了新的发展时代。</p>
    <p>2007年9月设计出第一代皮肤听声器。</p>
    <p>2008年7月成立陕西科技大学皮肤听声研究所。</p>
    <p>2009年11月申报发明专利“多通道阵列式皮肤听声器”。</p>
    <p>2010年2月国家自然科学基金项目“声-电转换皮肤听声的进一步研究”，并证明皮肤听声可以分辨语音。</p>
    <p>2011年8月“多通道阵列式皮肤听声器” 获国家发明专利，专利号：ZL200910219078.1。</p>
    <p>2013年10月研制成功第二代皮肤听声器，称为高性能皮肤听声器。特点：扎臂式、12通道滤波，阵列电极、自动音量调节、拟合感觉曲线。高性能皮肤听声器能使聋人分辨语音。</p>
  </div>
</section>
</article>
<sd-footer></sd-footer>
