<sd-navbar></sd-navbar>

<section>
  <h1>资料中心 <span>data</span></h1>
  <h4>实时了解有关皮肤听声器的新进展</h4>
</section>
<article class="container">
  <div class="row" >
    <div class="thumbnail" *ngFor="let eg of thumbnails" (mouseenter)="mouseenter(eg)" (mouseleave)="mouseover(eg)">
      <img [src]="'../assets/img/about/'+eg.imgsrc" alt="..." class="img" >
      <div class="caption">
        <h4>{{eg.title}}</h4>
       <p><a [routerLink]="['/about/article'+eg.url]" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{eg.text}}</a></p>
      </div>
    </div>
  </div>
</article>

<aside>
  <div class="btnwrap"><button (click)="textchangebig()">增大字体+</button><button (click)="textchangesmall()">减小字体-</button></div>
    <ul class="nav nav-pills nav-stacked">
      <li> <a [routerLink]="['/about/article0']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">皮肤听声简介</a></li>
       <!--<li><a [routerLink]="['/about/article1']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">背景</a></li>-->
      <li><a [routerLink]="['/about/article2']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">语音分析</a></li>
          <li><a [routerLink]="['/about/article3']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">皮肤构造与皮肤听声</a></li>
          <li><a [routerLink]="['/about/article4']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">第一代皮肤听声器</a></li>
         <li> <a [routerLink]="['/about/article5']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">第二代皮肤听声器</a></li>
        <li><a [routerLink]="['/about/article6']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">参考文献</a></li>
    </ul>

  <router-outlet></router-outlet>

</aside>



<sd-footer></sd-footer>
